<app-page-header [heading]="'Alerts management'" [waitMessage]="waitMessage" [screenID]="screenID"
    [icon]="'fa-bell'"></app-page-header>

<div class="content-section implementation" style="padding: 5px;">
    <p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
</div>

<!-- Confirmation when executing, removing alert -->
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>


<!-- Dialog for saving change -->
<p-dialog header="Updates completed" [visible]="displayProcessCompleted" [modal]="true" [style]="{width: '50vw'}" [responsive]="true" [maximizable]="false">
    <span>{{msgDisplayed}}</span>
        <p-footer>
            <button style="float: right; margin-bottom:0.5em" 
                    type="button" pButton icon="fas fa-check" iconPos="right" (click)="displayProcessCompleted=false" 
                    label="Ok">
            </button>
        </p-footer>
  </p-dialog>

<!-- Dialog for launching report TEST -->
<p-dialog *ngIf="executionDataResultDisplay" header="{{searchResult[executionAlertIndex].ALTID}} - {{searchResult[executionAlertIndex].ALTSUBJECT}}" 
            [(visible)]="executionDataResultDisplay"
            (onShow)="showDialogMaximized($event,alertDetailResult)" [maximizable]="true" #alertDetailResult>
 
<div item-width="400px" table-layout="fixed">
    <p-table #resultExecution [value]="executionDataResult" sortMode="multiple" [rows]="20" [rowsPerPageOptions]="[20,50,100]"
        [paginator]="true" [pageLinks]="3" [columns]="columnsResultExecution" selectionMode="single"
        [resizableColumns]="true" columnResizeMode="fit" [responsive]="true"
        [totalRecords]="executionDataResult.length" [reorderableColumns]="true" scrollHeight="400px"
        (onRowSelect)="onRowSelect($event)" [autoLayout]="true" tableStyleClass="table-layout: auto;">

        <!-- FILTER -->
        <ng-template pTemplate="caption">
            <div class="table-header grid">
                <div class="col-1">
                    <span>
                        <button type="button" pButton icon="fas fa-file" iconPos="left"
                            class="CSV_Button p-input-icon-left ml-auto" pTooltip="{{csvButtonTooltip}}"
                            *ngIf="executionDataResult.length>0" label="CSV" (click)="resultExecution.exportCSV()" style="float:left">
                        </button>
                        <button type="button" pButton icon="fas fa-file" iconPos="left"
                            class="CSV_Button p-input-icon-left ml-auto" pTooltip="{{csvButtonTooltip}}" disabled
                            *ngIf="executionDataResult.length==0" label="CSV" (click)="resultExecution.exportCSV()" style="float:left">
                        </button>
                    </span>
                </div>
                <div class="col-11" style="text-align: right;">
                    <span class="p-input-icon-right">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text"
                            (input)="resultExecution.filterGlobal($any($event.target).value, 'contains')"
                            placeholder="Type text to filter..." />
                    </span>
                </div>
            </div>
        </ng-template>
        <!-- HEADER -->
        <ng-template pTemplate="header">
            <tr style="background: lightyellow;">
                <ng-container *ngFor="let col of columnsResultExecution">
                    <th [pSortableColumn]="col.field" pReorderableColumn pResizableColumn
                        [style.justify-content]="col.align">
                        {{col.header}}
                        <p-columnFilter type="text" [field]="col.field" display="menu"></p-columnFilter>
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </ng-container>
            </tr>

            <ng-template pTemplate="caption">
                <div class="table-header">
                    <div class="pull-right p-input-icon-right FILTER_Right_Table">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text"
                                (input)="resultExecution.filterGlobal($any($event.target).value, 'contains')"
                                placeholder="Global Search" />
                        </span>
                    </div>
                    <div>
                        <button type="button" pButton icon="fas fa-file" iconPos="left"
                            class="CSV_Button p-input-icon-left ml-auto" label="CSV" (click)="resultExecution.exportCSV()"
                            style="float:left"></button>
                    </div>
                </div>
            </ng-template>
        </ng-template>

        <!-- BODY -->
        <ng-template pTemplate="body" let-rowDataExecution let-columns="columnsResultExecution" let-globalIndice="rowIndexExecution">
            <tr [pSelectableRow]="rowDataExecution">
                <ng-container *ngFor="let col of columnsResultExecution; let indice=index" class="ui-resizable-column">
                    <td class="ui-resizable-column" [style.justify-content]="col.align">
                        <span pTooltip="{{col.tooltip}}">{{rowDataExecution[col.field]}}</span>
                    </td>
                </ng-container>
            </tr>
        </ng-template>
    </p-table>
    <i class="FOOTER_Table">{{executionDataResult.length}} references</i>
</div>
</p-dialog>

<!-- Dialog for capturing the parameter -->
<p-dialog *ngIf="captureParamDialog" header="{{searchResult[executionAlertIndex].ALTID}} - {{searchResult[executionAlertIndex].ALTSUBJECT}} parameters" 
            [(visible)]="captureParamDialog"  #alertParam>
    <div class="formgrid grid">
        <ng-container *ngFor="let param of executionAlertParamDesc; let indice=index" class="ui-resizable-column">
            <div class="field col-6">
                <label class="font-bold" for="param{{indice}}">{{param}}</label>
                        <input id="param{{indice}}" pInputText [(ngModel)]="executionAlertParam[indice]"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid">
            </div>
        </ng-container>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" *ngIf="runReportDialog == 2" (click)="captureParamDialog = false; executeLocalQuery(executionAlertParam)" label="Ok" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-check" *ngIf="runReportDialog == 1" (click)="captureParamDialog = false; runReport(executionAlertParam)" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<!-- Dialog for XML file content -->
<p-dialog *ngIf="alertSQLFileDisplay" header="{{alertDisplay.ALTID}} - {{alertDisplay.ALTSUBJECT}}"  [style]="{width: '50vw'}"
            [(visible)]="alertSQLFileDisplay"  #alertParam>
    <div class="formgrid grid" style="border: 1px solid black;">
        <label class="font-bold" for="fileContent" style="font-weight: bold">{{alertDisplay.ALTFILE}}</label>
        <textarea id="fileContent" pInputText rows="20" [(ngModel)]="alertSQLFileContent" disabled
                 class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid">
        </textarea>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="alertSQLFileDisplay = false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<!-- Dialog for edit alert -->
<p-dialog *ngIf="alertDisplay" header="{{isNewAlert ? 'New Alert' : alertDisplay.ALTSUBJECT}}" [(visible)]="displayAlert"
    (onShow)="showDialogMaximized($event,alertDetail)" [maximizable]="true" #alertDetail>

    <div class="flex flex-row-reverse flex-wrap" style="padding-right: 20px;">
        <span>
            <button (click)="displayAlert=false" pButton="" icon="fas fa-close" label="CANCEL"
                style="margin-right: 15px; height: 35px;"></button>
            <button (click)="saveChanges()" pButton="" icon="fas fa-save" label="SAVE"
                    [disabled]="isNewAlert && !alertDisplay.ALTID"
                    style="margin-right: 15px; height: 35px;"></button>
        </span>

        <p-tabView style="width: 100%;">
            <p-tabPanel header="General" lefticon="fas fa-file-invoice">
                <div class="formgrid grid">
                    <div class="field col-6">
                        <label class="font-bold" for="alertid">ID <span *ngIf="isNewAlert" style="color: red;">*</span></label>
                        <input id="alertid" pInputText [(ngModel)]="alertDisplay.ALTID" [disabled]="!isNewAlert"
                            placeholder="e.g., QRY0000001"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid">
                    </div>
                    <div class="field col-6">
                        <label class="font-bold" for="altsubject">Title/Subject</label>
                        <input id="altsubject" pInputText [(ngModel)]="alertDisplay.ALTSUBJECT"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid">
                    </div>
                    <div class="field col-12">
                        <label class="font-bold" for="altcontent">Detail description in attachment (EXCEL)</label>
                        <textarea id="altcontent" pInputText rows="4" [(ngModel)]="alertDisplay.ALTCONTENT"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid"></textarea>
                    </div>
                    <div class="field col-12">
                        <label class="font-bold" for="altcontenthtml">Detail description (EMAIL)</label>
                        <textarea id="altcontenthtml" pInputText rows="4" [(ngModel)]="alertDisplay.ALTCONTENTHTML"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid"></textarea>
                    </div>
                    <div class="field col-8"><label class="font-bold" for="altfile">Query location (XML)</label>
                        <input id="altfile" pInputText [(ngModel)]="alertDisplay.ALTFILE"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid">
                    </div>
                    <div class="field col-1" style="width: 4%; text-align: -webkit-center;">
                        <label class="font-bold" for="altopen">File</label>
                        <button id="altopen" pButton icon="fas fa-file-code"
                            (click)="getFile(alertDisplay.ALTID, alertDisplay.ALTFILE)"
                            class="p-element p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full p-button p-button-icon-only"
                            style="margin-top: 5px;">
                        </button>
                    </div>
                    <!-- SQL Query and Formatting Section -->
                    <div class="field col-12">
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <label class="font-bold" for="altsql">
                                <i class="fas fa-database" style="margin-right: 5px;"></i>SQL Query & Formatting (XML)
                            </label>
                            <button pButton type="button" icon="fas fa-copy" 
                                (click)="copyToClipboard(alertDisplay.ALTSQL)" 
                                pTooltip="Copy to clipboard" tooltipPosition="left"
                                class="p-button-text p-button-sm" style="height: 28px; margin-bottom: 1em">
                            </button>
                        </div>
                        <textarea id="altsql" pInputText rows="12" [(ngModel)]="alertDisplay.ALTSQL"
                            placeholder="<ROOT>&#10;    <QUERY>SELECT ... FROM ...</QUERY>&#10;    <HEADER>Report Header</HEADER>&#10;    <HEADERIFEMPTY>No data found</HEADERIFEMPTY>&#10;</ROOT>"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid"
                            style="font-family: 'Courier New', monospace; font-size: 12px;"></textarea>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Distribution list" lefticon="fas fa-envelope-open">
                <div class="formgrid grid">
                    <div class="field col-3">
                        <label class="font-bold" for="daltemail">Email sent to:</label>
                        <p-chips #daltemail [(ngModel)]="alertSheduleDisplay_DALTEMAIL" 
                                (paste)="onPasteEmail($event)">
                        </p-chips>
                    </div>
                    <div class="field col-3">
                        <label class="font-bold" for="daltemailcc">Copy :</label>
                        <p-chips #daltemailcc [(ngModel)]="alertSheduleDisplay_DALTEMAILCC"
                                (paste)="onPasteEmailCC($event)">
                        </p-chips>
                    </div>
                    <div class="field col-3">
                        <label class="font-bold" for="daltemailbcc">Hidden copy :</label>
                        <p-chips #daltemailbcc [(ngModel)]="alertSheduleDisplay_DALTEMAILBCC"
                                (paste)="onPasteEmailBCC($event)">
                        </p-chips>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Printing" lefticon="fas fa-print">
                <div class="formgrid grid">
                    <div class="field col-6">
                        <label class="font-bold" for="alertorientation">Orientation</label>
                        <p-dropdown id="alertorientation" [options]="['landscape', 'portrait']" [(ngModel)]="alertDisplay.ALTORIENTATION">
                        </p-dropdown>
                    </div>
                    <div class="field col-6">
                        <label class="font-bold" for="altmargin">Margin</label>
                        <input id="altmargin" pInputText [(ngModel)]="alertDisplay.ALTMARGIN"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid">
                    </div>
                    <div class="field col-6">
                        <label class="font-bold" for="alertprintarea">Print area</label>
                        <input id="alertprintarea" pInputText [(ngModel)]="alertDisplay.ALTPRINTAREA"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid">
                    </div>
                    <div class="field col-2">
                        <label class="font-bold" for="alertfitpage">Fit page</label>
                        <p-checkbox id="alertfitpage" [(ngModel)]="alertDisplay.ALTFITPAGEBOOLEAN" [binary]="true"
                            class="p-element text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid">
                        </p-checkbox>
                    </div>
                    <div class="field col-2">
                        <label class="font-bold" for="alertfreezeheader">Freeze header</label>
                        <p-checkbox id="alertfreezeheader" [(ngModel)]="alertDisplay.ALTFREEZEHEADERBOOLEAN" [binary]="true"
                            class="p-element text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid">
                        </p-checkbox>
                    </div>
                    <div class="field col-2">
                        <label class="font-bold" for="alertborder">Border</label>
                        <p-checkbox id="alertborder" [(ngModel)]="alertDisplay.ALTBORDERBOOLEAN" [binary]="true"
                            class="p-element text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid">
                        </p-checkbox>
                    </div>
                    <div class="field col-3">
                        <label class="font-bold" for="altfitheight">Nb rows/page</label>
                        <input id="altfitheight" pInputText [(ngModel)]="alertDisplay.ALTHEIGHT"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid ng-star-inserted"><!----><!---->
                    </div>
                    <div class="field col-3">
                        <label class="font-bold" for="altfitwidth">Nb columns/page</label>
                        <input id="altfitwidth" pInputText [(ngModel)]="alertDisplay.ALTFITWIDTH"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid ng-star-inserted"><!----><!---->
                    </div>
                    <div class="field col-3"><label class="font-bold" for="alttitlerepeat">Header</label>
                        <input id="alttitlerepeat" pInputText [(ngModel)]="alertDisplay.ALTTITLEREPEAT"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid">
                    </div>
                    <div class="field col-3">
                        <label class="font-bold" for="altfooter">Footer</label>
                        <input id="altfooter" pInputText [(ngModel)]="alertDisplay.ALTFOOTER"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid">
                    </div>
                    <div class="field col-3">
                        <label class="font-bold" for="altxlsbreak">Row break</label>
                        <input id="altxlsbreak" pInputText [(ngModel)]="alertDisplay.ALTXLSBREAK"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid">
                    </div>
                    <div class="field col-3">
                        <label class="font-bold" for="altscale">Scale</label>
                        <input id="altscale" pInputText [(ngModel)]="alertDisplay.ALTSCALE"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid">
                    </div>
                    <div class="field col-6">
                        <label class="font-bold" for="altcolmove">Move columns</label>
                        <input id="altcolmove"  pInputText [(ngModel)]="alertDisplay.ALTCOLMOVE"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid">
                    </div>
                    <div class="field col-6">
                        <label class="font-bold" for="altformat">Format HTML</label>
                        <textarea id="altformat" pInputText [(ngModel)]="alertDisplay.ALTFORMAT" rows="8"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid"></textarea>
                    </div>
                    <div class="field col-6">
                        <label class="font-bold" for="altformatxls">Format EXCEL</label>
                        <textarea
                            id="altformatxls" pInputText [(ngModel)]="alertDisplay.ALTFORMATXLS" rows="8"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid"></textarea>
                    </div>
                    <div class="field col-6">
                        <label class="font-bold" for="altformatxls">Format EXCEL (second tab)</label>
                        <textarea
                            id="altformattab2xls" pInputText [(ngModel)]="alertDisplay.ALTFORMATTAB2XLS" rows="8"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full ng-untouched ng-pristine ng-valid"></textarea>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Scheduling" lefticon="fas fa-clock">
                <div class="formgrid grid" *ngIf="alertSheduleDisplay">
                    <!-- Row 1: ID, Description, Active Date -->
                    <div class="field col-3">
                        <label class="font-bold" for="saltid">Schedule ID</label>
                        <input id="saltid" pInputText [(ngModel)]="alertSheduleDisplay.SALTID" [disabled]="!isNewSchedule"
                            [placeholder]="isNewSchedule ? 'Enter schedule ID' : ''"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                    <div class="field col-6">
                        <label class="font-bold" for="saltdesc">Description</label>
                        <input id="saltdesc" pInputText [(ngModel)]="alertSheduleDisplay.SALTDESC"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                    <div class="field col-3">
                        <label class="font-bold" for="saltactive">Effective Date</label>
                        <p-calendar id="saltactive" [(ngModel)]="alertSheduleDisplay.SALTACTIVEDATE" 
                            [showIcon]="true" dateFormat="mm/dd/yy" [showButtonBar]="true"
                            inputStyleClass="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        </p-calendar>
                    </div>

                    <!-- Schedule Builder Section -->
                    <div class="field col-12">
                        <div class="schedule-builder-panel">
                            <label class="font-bold"><i class="fas fa-calendar-alt"></i> Schedule Configuration</label>
                            
                            <div class="formgrid grid" style="margin-top: 10px; padding: 15px; background: #f8f9fa; border-radius: 8px;">
                                <!-- Frequency Selection -->
                                <div class="field col-3">
                                    <label class="font-bold" for="scheduleFrequency">Frequency</label>
                                    <p-dropdown id="scheduleFrequency" [options]="frequencyOptions" [(ngModel)]="scheduleFrequency" 
                                        optionLabel="label" optionValue="value" (onChange)="onFrequencyChange()"
                                        class="w-full">
                                    </p-dropdown>
                                </div>

                                <!-- Time Selection (Hour - not shown for hourly, interval, hour_range, custom) -->
                                <div class="field col-2" *ngIf="scheduleFrequency === 'daily' || scheduleFrequency === 'weekly' || scheduleFrequency === 'monthly'">
                                    <label class="font-bold" for="scheduleHour">Hour</label>
                                    <p-dropdown id="scheduleHour" [options]="hourOptions" [(ngModel)]="scheduleHour" 
                                        (onChange)="buildCronExpression()" class="w-full">
                                    </p-dropdown>
                                </div>
                                <!-- Minute (shown for hourly, hour_range, daily, weekly, monthly) -->
                                <div class="field col-2" *ngIf="scheduleFrequency !== 'interval_minutes' && scheduleFrequency !== 'custom'">
                                    <label class="font-bold" for="scheduleMinute">Minute</label>
                                    <p-dropdown id="scheduleMinute" [options]="minuteOptions" [(ngModel)]="scheduleMinute" 
                                        (onChange)="buildCronExpression()" class="w-full">
                                    </p-dropdown>
                                </div>

                                <!-- Hour Range (for hour_range frequency) -->
                                <div class="field col-2" *ngIf="scheduleFrequency === 'hour_range'">
                                    <label class="font-bold" for="scheduleHourRange">Hour Range</label>
                                    <input id="scheduleHourRange" pInputText [(ngModel)]="scheduleHourRange" 
                                        placeholder="e.g. 8-21" (change)="buildCronExpression()"
                                        class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                </div>

                                <!-- Day of Week Range (for hour_range frequency) -->
                                <div class="field col-2" *ngIf="scheduleFrequency === 'hour_range'">
                                    <label class="font-bold" for="scheduleDayOfWeekRange">Days <span style="font-weight: normal; color: #888;">(opt)</span></label>
                                    <input id="scheduleDayOfWeekRange" pInputText [(ngModel)]="scheduleDayOfWeekRange" 
                                        placeholder="e.g. 1-5" (change)="buildCronExpression()"
                                        class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                </div>

                                <!-- Day of Week (for Weekly) -->
                                <div class="field col-3" *ngIf="scheduleFrequency === 'weekly'">
                                    <label class="font-bold" for="scheduleDayOfWeek">Day of Week</label>
                                    <p-dropdown id="scheduleDayOfWeek" [options]="dayOfWeekOptions" [(ngModel)]="scheduleDayOfWeek" 
                                        optionLabel="label" optionValue="value" (onChange)="buildCronExpression()"
                                        class="w-full">
                                    </p-dropdown>
                                </div>

                                <!-- Day of Month (for Monthly) -->
                                <div class="field col-3" *ngIf="scheduleFrequency === 'monthly'">
                                    <label class="font-bold" for="scheduleDayOfMonth">Day of Month</label>
                                    <p-dropdown id="scheduleDayOfMonth" [options]="dayOfMonthOptions" [(ngModel)]="scheduleDayOfMonth" 
                                        (onChange)="buildCronExpression()" class="w-full">
                                    </p-dropdown>
                                </div>

                                <!-- Interval (for Every X minutes) -->
                                <div class="field col-2" *ngIf="scheduleFrequency === 'interval_minutes'">
                                    <label class="font-bold" for="scheduleInterval">Every (min)</label>
                                    <p-dropdown id="scheduleInterval" [options]="intervalMinuteOptions" [(ngModel)]="scheduleInterval" 
                                        (onChange)="buildCronExpression()" class="w-full">
                                    </p-dropdown>
                                </div>

                                <!-- Custom info message -->
                                <div class="field col-6" *ngIf="scheduleFrequency === 'custom'">
                                    <div style="padding: 10px; background: #fff3cd; border-radius: 5px; border-left: 4px solid #ffc107; margin-top: 25px;">
                                        <i class="fas fa-info-circle" style="margin-right: 8px; color: #856404;"></i>
                                        <span style="color: #856404;">Edit the cron expression directly below</span>
                                    </div>
                                </div>

                                <!-- Human Readable Display -->
                                <div class="field col-12" style="margin-top: 10px;">
                                    <div class="schedule-readable" style="padding: 10px; background: #e8f5e9; border-radius: 5px; border-left: 4px solid #4caf50;">
                                        <i class="fas fa-clock" style="margin-right: 8px; color: #4caf50;"></i>
                                        <span style="font-weight: 500;">{{scheduleReadable}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Cron Expression (Advanced - can toggle visibility) -->
                    <div class="field col-6">
                        <label class="font-bold" for="saltcron">Cron Expression <span style="font-weight: normal; color: #888;">(advanced)</span></label>
                        <div class="p-inputgroup">
                            <input id="saltcron" pInputText [(ngModel)]="alertSheduleDisplay.SALTCRON" 
                                (change)="parseCronExpression()"
                                class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                            <button type="button" pButton icon="fas fa-sync" pTooltip="Parse cron to schedule" 
                                (click)="parseCronExpression()" class="p-button-secondary"></button>
                        </div>
                    </div>
                    <div class="field col-3">
                        <label class="font-bold" for="salttype">Type</label>
                        <p-dropdown id="salttype" [options]="scheduleTypeOptions" [(ngModel)]="alertSheduleDisplay.SALTTYPE" 
                            optionLabel="label" optionValue="value"
                            class="w-full">
                        </p-dropdown>
                    </div>
                    <div class="field col-3">
                        <label class="font-bold" for="saltcatchup">Catch Up</label>
                        <p-checkbox id="saltcatchup" [(ngModel)]="alertSheduleDisplay.SALTCATCHUPBOOLEAN" [binary]="true"
                            class="p-element text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        </p-checkbox>
                    </div>

                    <!-- Row 3: Query Number, Query Param -->
                    <div class="field col-6">
                        <label class="font-bold" for="saltquerynum">Query Number</label>
                        <input id="saltquerynum" pInputText [(ngModel)]="alertSheduleDisplay.SALTQUERYNUM"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                    <div class="field col-6">
                        <label class="font-bold" for="saltqueryparam">Query Parameters</label>
                        <input id="saltqueryparam" pInputText [(ngModel)]="alertSheduleDisplay.SALTQUERYPARAM"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>

                    <!-- Row 4: Reference Alert ID -->
                    <div class="field col-6">
                        <label class="font-bold" for="saltrefaltid">Reference Alert ID</label>
                        <input id="saltrefaltid" pInputText [(ngModel)]="alertSheduleDisplay.SALTREFALTID"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                    <div class="field col-6">
                        <label class="font-bold" for="saltjob">Job</label>
                        <input id="saltjob" pInputText [(ngModel)]="alertSheduleDisplay.SALTJOB"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>

                    <!-- Row 5: Shell Command -->
                    <div class="field col-12">
                        <label class="font-bold" for="saltshell">Shell Command</label>
                        <textarea id="saltshell" pInputText rows="3" [(ngModel)]="alertSheduleDisplay.SALTSHELL"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
                    </div>

                    <!-- Row 6: Comment -->
                    <div class="field col-12">
                        <label class="font-bold" for="saltcomment">Comment</label>
                        <textarea id="saltcomment" pInputText rows="2" [(ngModel)]="alertSheduleDisplay.SALTCOMMENT"
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
                    </div>

                    <!-- Row 7: Audit info (read-only) -->
                    <div class="field col-3">
                        <label class="font-bold" for="saltdcre">Created Date</label>
                        <input id="saltdcre" pInputText value="{{alertSheduleDisplay.SALTDCRE}}" disabled
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                    <div class="field col-3">
                        <label class="font-bold" for="saltdmaj">Modified Date</label>
                        <input id="saltdmaj" pInputText value="{{alertSheduleDisplay.SALTDMAJ}}" disabled
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                    <div class="field col-3">
                        <label class="font-bold" for="saltutil">Last Run</label>
                        <input id="saltutil" pInputText value="{{alertSheduleDisplay.SALTUTIL}}" disabled
                            class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                </div>
                <div *ngIf="!alertSheduleDisplay" class="p-3">
                    <div class="no-schedule-panel" style="text-align: center; padding: 20px; background: #f8f9fa; border-radius: 8px; margin-bottom: 15px;">
                        <i class="pi pi-calendar-plus" style="font-size: 2rem; color: #6c757d; margin-bottom: 10px;"></i>
                        <p style="margin-bottom: 15px;">No scheduling information available for this alert.</p>
                        <button pButton icon="pi pi-plus" label="Create Schedule" 
                            (click)="createNewSchedule()" class="p-button-success">
                        </button>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>

    </div>


</p-dialog>

<p-confirmDialog key="shellConfirm"></p-confirmDialog>

<!-- Search Panel -->
<div class="bbs_search_panel">
    <span style="margin-right: 2.2em; padding-left: 15px; font-weight: bolder;">Alert :</span>
    <span style="padding-right: .5em; align-self: center;">
        <input type="text" [(ngModel)]="searchAlertId" placeholder="Identifiant"
            style="margin-left: 10px; height: 35px;">
    </span>
    <span style="margin-right: 2.2em; padding-left: 15px; font-weight: bolder;">Description : </span>
    <span style="padding-right: .5em; align-self: center;">
        <input type="text" [(ngModel)]="searchAlertDesc" placeholder="Enter a code or a description"
            style="margin-left: 10px; height: 35px; width: 200%;">
    </span>

    <span class="pull-right" style="padding-right: 20px">
        <button pButton (click)="search()" icon="fas fa-search" label="SEARCH" [style]="{'height': '35px'}"></button>
        <button pButton (click)="search()" icon="fas fa-sync-alt" [style]="{'height': '35px'}"></button>
    </span>
</div>
<div class="bbs_search_sub_panel">
    <span style="margin-right: 1.3em; padding-left: 15px; font-weight: bolder;">In distribution list : </span>
    <span style="padding-right: .5em; align-self: center;">
        <input type="text" [(ngModel)]="searchAlertEmail" placeholder="  user email"
            style="margin-left: 10px; height: 35px; width: 40%;">
    </span>
</div>

<!-- Result search panel -->
<div item-width="400px" table-layout="fixed" *ngIf="searchResult !== null">
    <p-table #result [value]="searchResult" sortMode="multiple" [rows]="20" [rowsPerPageOptions]="[20,50,100]"
        [paginator]="true" [pageLinks]="3" [columns]="columnsResult" selectionMode="single"
        [(selection)]="selectedElement" [resizableColumns]="true" columnResizeMode="fit" [responsive]="true"
        [totalRecords]="searchResult.length" [reorderableColumns]="true" scrollHeight="400px"
        (onRowSelect)="onRowSelect($event)" [autoLayout]="true" tableStyleClass="table-layout: auto;">

        <!-- FILTER -->
        <ng-template pTemplate="caption">
            <div class="table-header grid">
                <div class="col-1">
                    <span>
                        <button type="button" pButton icon="fas fa-file" iconPos="left"
                            class="CSV_Button p-input-icon-left ml-auto" pTooltip="{{csvButtonTooltip}}"
                            *ngIf="searchResult.length>0" label="CSV" (click)="result.exportCSV()" style="float:left">
                        </button>
                        <button type="button" pButton icon="fas fa-file" iconPos="left"
                            class="CSV_Button p-input-icon-left ml-auto" pTooltip="{{csvButtonTooltip}}" disabled
                            *ngIf="searchResult.length==0" label="CSV" (click)="result.exportCSV()" style="float:left">
                        </button>
                    </span>
                </div>
                <div class="col-2">
                    <span>
                        <button type="button" pButton icon="pi pi-plus" iconPos="left"
                            class="CREATE_Button p-button-secondary" style="" label="CREATE" (click)="createAlert()"
                            style="float:left">
                        </button>
                    </span>
                </div>
                <div class="col-9" style="text-align: right;">
                    <span class="p-input-icon-right">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text"
                            (input)="result.filterGlobal($any($event.target).value, 'contains')"
                            placeholder="Type text to filter..." />
                    </span>
                </div>
            </div>
        </ng-template>
        <!-- HEADER -->
        <ng-template pTemplate="header">
            <tr style="background: lightyellow;">
                <ng-container *ngFor="let col of columnsResult">
                    <th *ngIf="col.display" [pSortableColumn]="col.field" pReorderableColumn pResizableColumn
                        [style.justify-content]="col.align">
                        {{col.header}}
                        <p-columnFilter type="text" [field]="col.field" display="menu"></p-columnFilter>
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </ng-container>
            </tr>

            <ng-template pTemplate="caption">
                <div class="table-header">
                    <div class="pull-right p-input-icon-right FILTER_Right_Table">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text"
                                (input)="result.filterGlobal($any($event.target).value, 'contains')"
                                placeholder="Global Search" />
                        </span>
                    </div>
                    <div>
                        <button type="button" pButton icon="fas fa-file" iconPos="left"
                            class="CSV_Button p-input-icon-left ml-auto" label="CSV" (click)="result.exportCSV()"
                            style="float:left"></button>
                    </div>
                </div>
            </ng-template>
        </ng-template>

        <!-- BODY -->
        <ng-template pTemplate="body" let-rowData let-columns="columnsResult" let-globalIndice="rowIndex">
            <tr [pSelectableRow]="rowData">
                <ng-container *ngFor="let col of columnsResult; let indice=index" class="ui-resizable-column">
                    <td class="ui-resizable-column" [style.justify-content]="col.align">
                        <span *ngIf="col.field!='ACTION'" pTooltip="{{col.tooltip}}">{{rowData[col.field]}}</span>

                        <span *ngIf="col.field=='ACTION'" style="text-align: center;">
                            <button pButton pRipple tooltipPosition="bottom" icon="pi pi-pencil"
                                (click)="editAlert(rowData['ALTID'])" pTooltip="Edit alert"
                                class="p-button-rounded p-button-sm p-button-secondary"
                                style="height: 3em; width: 3em; border-color: white !important; color: white !important;">
                            </button>
                            <button pButton pRipple tooltipPosition="bottom" icon="pi pi-copy"
                                (click)="duplicateAlert(rowData.ALTID)" pTooltip="Duplicate alert" class="p-button-rounded p-button-sm p-button-secondary"
                                style="height: 3em; width: 3em; border-color: white !important; color: white !important;">
                            </button>
                            <button pButton pRipple tooltipPosition="bottom" icon="pi pi-play"
                                pTooltip="[Test alert]  will show alert result only"
                                (click)="confirmExecutionLocalQuery(rowData['ALTID'])"
                                class="p-button-rounded p-button-sm p-button-secondary"
                                style="height: 3em; width: 3em; border-color: white !important; color: white !important;">
                            </button>
                            <button pButton pRipple tooltipPosition="bottom" icon="pi pi-forward"
                                pTooltip="[Run alert]  will send email to distribution list"
                                (click)="confirmRunReport(rowData['ALTID'])"
                                class="p-button-rounded p-button-sm p-button-secondary"
                                style="height: 3em; width: 3em; border-color: white !important; color: white !important;">
                            </button>
                            <button pButton pRipple tooltipPosition="bottom" icon="pi pi-minus"
                                pTooltip="[Remove alert]" class="p-button-rounded p-button-sm p-button-secondary"
                                (click)="removeReport(rowData['ALTID'])"
                                style="height: 3em; width: 3em; border-color: white !important; color: white !important;">
                            </button>
                        </span>
                    </td>
                </ng-container>
            </tr>
        </ng-template>
    </p-table>
    <i class="FOOTER_Table">{{searchResult.length}} references</i>
</div>