$background: #ffffff;
$outline-color: #195272;
//$face-color: #e1f4f0;
$face-color: #cedbdd;
$tongue-color: #f9bbbb;
//$inner-bg: #cedbdd;
$inner-bg: bisque;

$border-weight: 3px;

.NextPPG{
    height: calc(600px/15);
    //display: flex;
    //justify-content: right;
    //align-items: center;
    padding-left: 92%;
    position: absolute;

    * {
        box-sizing: border-box;
    }

    .circle-bg {
        background: $inner-bg;
        width: calc(250px/5);
        height: calc(250px/5);
        border-radius: 100%;
        border: $border-weight solid $outline-color;
        position: relative;

        /*&:after {
            content: "";
            position: absolute;
            z-index: 2;
            height: 100%;
            width: 100%;
            top: -3px/5);
            left: 0;
            border-radius: 100%;
            border-bottom: 10px solid $outline-color;
        }*/
      
        &:hover {
          .NextPPG-face {
              top: calc(40px/5) !important;
          }

          .eyes {
              top: calc(30px/5) !important;
          }

          .mouth {
              background: $outline-color;
              border: none;
              clip-path: polygon(0% 30%, 100% 30%, 100% 100%, 0% 100%);

              &:after{
                  content: "";
                  position: absolute;
                  height: 80%;
                  width: 80%;
                  bottom: -30%;
                  left: 50%;
                  transform: translateX(-50%);
                  background: $tongue-color;
                  border-radius: 100%;
              }
          }
            //transform: rotate(360deg); 
            //transition: all 0.3s ease-in-out 0s;
            animation: rotate-NextPPG .9s linear 3;
            -webkit-animation: rotate-NextPPG .9s linear 3;
        }

        .NextPPG-head {
            height: calc(200px/5);
            width: calc(200px/5);
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: calc(-20px/5);
            border: $border-weight solid $outline-color;
            border-radius: 17px/ 12px;
            background: $face-color;
            z-index: 4;
            &:after {
                content: "";
                position: absolute;
                top: calc(-30px/5);
                height: calc(30px/5);
                width: calc(10px/5);
                left: 50%;
                transform: translateX(-50%);
                background: $outline-color;
            }
            &:before {
                content: "";
                position: absolute;
                top: calc(-60px/5);
                left: 50%;
                transform: translateX(-50%);
                height: calc(20px/5);
                width: calc(20px/5);
                background: $inner-bg;
                border: $border-weight solid $outline-color;
                border-radius: 100%;
            }

            .NextPPG-face {
                height: calc(120px/5);
                width: calc(160px/5);
                background: $inner-bg;
                position: absolute;
                top: calc(45px/5);
                left: 50%;
                transform: translateX(-50%);
                border: $border-weight solid $outline-color;
                transition: all 200ms;
                border-radius: calc(45px/5);

                .eyes {
                    height: calc(20px/5);
                    width: calc(20px/5);
                    background: $outline-color;
                    border-radius: 100%;
                    position: absolute;
                    transition: all 200ms;
                    top: calc(40px/5);

                    &.left {
                        left: calc(30px/5);
                    }
                    &.right {
                        right: calc(30px/5);
                    }
                }

                .mouth {
                    height: calc(45px/5);
                    width: calc(45px/5);
                    border-radius: 100%;
                    border: $border-weight solid transparent;
                    border-bottom-color: $outline-color;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: calc(50px/5);
                    overflow: hidden;
                }
            }
        }

        .NextPPG-ear {
            position: absolute;
            height: calc(100px/5);
            width: calc(100px/5);
            border-radius: 100%;
            background: $background;
            border: $border-weight solid $outline-color;
            z-index: 3;
            top: calc(30px/5);

            &.left {
                left: calc(-20px/5);
            }
            &.right {
                right: calc(-20px/5);
            }
        }

        .NextPPG-body {
            height: calc(50px/5);
            width: calc(100px/5);
            border: $border-weight solid $outline-color;
            background: $background;
            position: absolute;
            bottom: calc(-5px/5);
            left: 50%;
            transform: translateX(-50%);
            border-radius: 5px 5px 6px 6px;
        }
    }
}

@keyframes rotate-NextPPG {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(-360deg);
    }
  }


:host ::ng-deep .p-button { 
    margin-right: .25rem;
} 

// badge
.badge_round {
    font-size: 0.8em;
    color: white;
    border-radius: 50%;
    height: 2em;
    width: 4em;
    line-height: 2em;
    position: absolute;
    align-content: center;
    text-align: center;
    top: 0px;
    background: radial-gradient(#FF5E00, #FF5E00);
    background-repeat: no-repeat;
    right: 0px;
}

//table
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
  }
  
  th,
  td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: black;
  }
  
  th {
    text-align: left;
  }
  
  thead {
    th {
      background-color: #55608f;
      color: white;
    }
  }
  
  tbody {
    tr {
      &:hover {
        background-color: lightsteelblue
      }
    }
    td {
      position: relative;
      &:hover {
        &:before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: -9999px;
          bottom: -9999px;
          //background-color: rgba(255,255,255,0.2);
          z-index: -1;
        }
      }
    }
  }

  .ui-tabview .ui-tabview-nav>li.ui-state-active {
    background: indianred !important;
  }
  
  // Dialog
.ui-dialog .ui-dialog-titlebar {
    background: lightslategrey !important;
    color: white !important;
}

.messageAlert {
  position:fixed;
  left:0;
  right:0;
  top:0;
  height:2em;
  width: 100%;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    background-color: dimgrey !important;
}
.p-tabview .p-tabview-nav {
    background-color: dimgrey !important;

}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background-color: crimson !important;
}
