<app-page-header [heading]="'Retail by PPG (deletion)'" [icon]="'fa-money-check-dollar'" [waitMessage]="waitMessage" [screenID]="screenID" [headcolor]="'gold'"
  [linkcolor]="'chocolate'"></app-page-header>

<div class="content-section implementation" style="padding: 5px;">
  <p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
</div>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>


<p-dialog header="Retail by PPG deletion completed" [modal]="true" [(visible)]="displayCompletion" [style]="{ width: '50rem' }">
    <span class="p-text-secondary block mb-5">The process for retail by PPG deletion is completed. Please check in GOLD the retails have been correctly removed.</span>
    <div class="flex justify-content-end gap-2">
        <p-button icon="pi pi-check" (click)="displayCompletion = false" label="OK" styleClass="p-button-text"></p-button>
    </div>
</p-dialog>

<!-- Search Panel -->
<div class="bbs_search_panel"  >
 <div style="width: 40%">
  <span style="margin-right:2.2em; padding-left: 15px; font-weight: bolder">PPG# : </span>
  <span style="line-height: 15px;align-self: center;">
    <input type="text"  pInputText [(ngModel)]="searchCode" placeholder="  Enter a PPG code" 
           style="width:70%; margin-left: 10px;"/>  
  </span>
 </div>

  <span style="font-weight: bolder; margin-top: 5px; padding-left: 15px;padding-right: 15px;">Ads only : </span>
  <p-checkbox [(ngModel)]="adsOnly" [binary]="true"></p-checkbox>


  <span class="pull-right" style="padding-right: 20px">
      <button type="submit" pButton (click)="search()" icon="fas fa-search" label="SEARCH" 
              [style]="{'height': '35px'}"
              [disabled]="periodStart > periodEnd || periodStart === '' || periodEnd === ''" 
              pTooltip="Period start must be greater than period end"
              style="margin-right: 15px"></button>
      <button type="submit" pButton (click)="search()" icon="fas fa-sync-alt" 
              [style]="{'height': '35px'}"[disabled]="true"></button>
  </span>
</div>


<div class="bbs_search_sub_panel"  >
    <span style="margin-right:1.3em; padding-left: 15px; font-weight: bolder">Period start : </span>
    <p-calendar [(ngModel)]="periodStart"  
                [minDate]="dateTomorrow"
                [readonlyInput]="true"
                dateFormat="mm/dd/yy"
                [style]="{'height': '35px'}"
                name="scheduleStart" [showIcon]="true" 
                [showOnFocus]="true" [showOtherMonths]="true"></p-calendar>

    <span style="margin-left:11em; padding-left: 15px; font-weight: bolder">Period end : </span>
    <p-calendar [(ngModel)]="periodEnd"  
                [minDate]="dateTomorrow"
                [readonlyInput]="true"
                dateFormat="mm/dd/yy"
                [style]="{'height': '35px'}"
                name="scheduleEnd" [showIcon]="true" 
                [showOnFocus]="true" [showOtherMonths]="true" ></p-calendar>
</div>


<p></p>

<p-dialog header="Schedule generated" [visible]="displayUpdateCompleted" [modal]="true" [style]="{width: '50vw'}" [responsive]="true" [maximizable]="false">
  <span>{{msgDisplayed}}</span>
      <p-footer>
          <button style="float: right; margin-bottom:0.5em" 
                  type="button" pButton icon="fas fa-check" iconPos="right" (click)="displayUpdateCompleted=false" 
                  label="Ok">
          </button>
      </p-footer>
</p-dialog>

<!-- Panel resul -->
<!-- Result panel of the resarch --> 
<!-- If more than one element retrieved elde assumed element selected  *ngIf="searchResult.length > 1" -->
<div  table-layout="fixed" *ngIf="searchResult !== null">

      <p-table #result [value]="searchResult" sortMode="multiple" 
              [rows]="5"  [rowsPerPageOptions]="[5,10,50]"
              [paginator]="true" [pageLinks]="3" 
              [columns]="columnsResult"
              selectionMode="single" [(selection)]="selectedElement" 
              [resizableColumns]="true" columnResizeMode="expand"
              [responsive]="true" [totalRecords]="searchResult.length"
              [reorderableColumns]="true" scrollHeight="400px"
              (onRowSelect)="onRowSelect($event)"
              [globalFilterFields]="['sippliercode', 'supplierdescription']"
              [autoLayout]="true" tableStyleClass="table-layout: auto;">
      
      <!-- FILTER -->
      <ng-template pTemplate="caption">
        <div class="table-header grid">
            <div class="col-6">
                <span>
                    <button type="button" pButton icon="fas fa-file" iconPos="left" 
                        class="CSV_Button p-input-icon-left ml-auto"
                        pTooltip="Export to EXCEL" [escape]="false"
                        *ngIf="searchResult.length>0"
                        label="CSV" (click)="exportExcelRecap()" style="float:left">
                    </button>
                    <button type="button" pButton icon="fas fa-file" iconPos="left" 
                        class="CSV_Button p-input-icon-left ml-auto"
                        pTooltip="Export to EXCEL" [escape]="false"
                        disabled *ngIf="searchResult.length==0"
                        label="CSV" (click)="exportExcelRecap()" style="float:left">
                    </button>

                    <button type="button" pButton iconPos="left" 
                        class="CSV_Button p-input-icon-left ml-auto"
                        pTooltip="select all" [escape]="false" tooltipPosition="bottom"
                        label="Select all" (click)="selectAll()" style="float:left">
                    </button>
                    <button type="button" pButton iconPos="left" 
                        class="CSV_Button p-input-icon-left ml-auto"
                        pTooltip="Unselect all" [escape]="false" tooltipPosition="bottom"
                        label="Unselect all" (click)="unselectAll()" style="float:left">
                    </button>
                    <button type="button" pButton iconPos="left" 
                        class="CSV_Button p-input-icon-left ml-auto"
                        pTooltip="Delete selected retail" [escape]="false" tooltipPosition="top"
                        label="Delete" (click)="deleteSelected()" style="float:left">
                    </button>
                </span>
            </div>
            <div class="col-6" style="text-align: right;">
                <span class="p-input-icon-right">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="result.filterGlobal($any($event.target).value, 'contains')" placeholder="Type text to filter..." />
                </span>
            </div>
        </div>
    </ng-template>
      <!-- HEADER -->
          <ng-template pTemplate="header">            
              <tr>
                <ng-container *ngFor="let col of columnsResult">
                    <th *ngIf="col.display" [pSortableColumn]="col.field" pReorderableColumn pResizableColumn [style.justify-content]="col.align"  [style.text-align]="col.align">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </ng-container>
              </tr>
          </ng-template>
      <!-- BODY -->
          <ng-template pTemplate="body" let-rowData let-columns="columnsResult">
              <tr [pSelectableRow]="rowData">
                <ng-container *ngFor="let col of columnsResult; let indice=index" class="ui-resizable-column"  >
                  <td class="ui-resizable-column" [style.justify-content]="col.align" [style.text-align]="col.align">
                      <span *ngIf="col.field!='X'" [style.text-align]="col.align">
                          {{rowData[col.field]}}
                      </span>
                      <span *ngIf="col.field==='X'" pTooltip="{{col.tooltip}}" tooltipPosition="top" [escape]="false">
                        <p-checkbox [(ngModel)]="rowData['Selected']" [binary]="true"></p-checkbox>
                      </span>
                  </td>
                </ng-container>
              </tr>
          </ng-template>
      </p-table>
      <i class="FOOTER_Table" >{{searchResult.length}} references</i>
</div>
<br>
<p style='border-style: solid; border: black'></p>
<br>