<nav class="sidebar superbowl-sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}" *ngIf="_userService.userInfo" style="padding-top:1%">
        <ul class="list-group">
            <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fas fa-tachometer-alt"></i>&nbsp; {{ 'Dashboard' }}
            </a>

            <div class="nested-menu" *ngIf="_userService.userInfo.buyer ==1 || _userService.userInfo.helpDesk ==1 || _userService.userInfo.dataIntegrity ==1 || _userService.userInfo.it ==1">
                <a class="list-group-item" (click)="addExpandClass('inventory')">
                    <span><i class="fas fa-cubes"></i> &nbsp; {{ 'Inventory' }} </span>
                </a>
                <li class="nested" [ngClass]="{'expand' : showMenu === 'inventory' }">
                    <ul class="submenu" >
                        <li>
                            <a class="bbs_link_menu" routerLink="/inventory" [routerLinkActive]="['router-link-active']" ><span><i class="fa fa-fw fa-university"></i> {{ 'Inventory follow-up' }}</span></a>
                        </li>
                    </ul>
                </li>
                <li class="nested" [ngClass]="{'expand' : showMenu === 'inventory' }">
                    <ul class="submenu" >
                        <li>
                            <a class="bbs_link_menu" routerLink="/counting" [routerLinkActive]="['router-link-active']" ><span><i class="fa fa-fw fa-university"></i> {{ 'Third-Party counting' }}</span></a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="nested-menu" *ngIf="_userService.userInfo.buyer ==1 || _userService.userInfo.helpDesk ==1 || _userService.userInfo.dataIntegrity ==1 || _userService.userInfo.it ==1">
                <a class="list-group-item" (click)="addExpandClass('caoconfig')">
                    <span><i class="fas fa-robot"></i> &nbsp; {{ 'Computer Ordering' }} </span>
                </a>
                <li class="nested" [ngClass]="{'expand' : showMenu === 'caoconfig' }">
                    <ul class="submenu" >
                        <li>
                            <a class="bbs_link_menu" routerLink="/caoconfig" [routerLinkActive]="['router-link-active']" ><span><i class="fas fa-check-double"></i> {{ 'CAO setting' }}</span></a>
                        </li>
                        <li>
                            <a class="bbs_link_menu" routerLink="/caomissing" [routerLinkActive]="['router-link-active']" ><span><i class="fas fa-frog"></i> {{ 'CAO missing' }}</span></a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="nested-menu" *ngIf="_userService.userInfo.helpDesk ==1">
                <a class="list-group-item" (click)="addExpandClass('supplierschedule')">
                    <span><i class="fa fa-calendar"></i> &nbsp; {{ 'Supplier schedule' }} </span>
                </a>
                <li class="nested" [ngClass]="{'expand' : showMenu === 'supplierschedule' }">
                    <ul class="submenu" >
                        <li>
                            <a class="bbs_link_menu" routerLink="/holiday" [routerLinkActive]="['router-link-active']" ><span><i class="fas fa-sun"></i> {{ 'Holiday schedule' }} </span></a>
                        </li>
                        <li>
                            <a class="bbs_link_menu" routerLink="/schedule" [routerLinkActive]="['router-link-active']" ><span><i class="fas fa-calendar"></i> {{ 'Mgt by schedule' }} </span></a>
                        </li>
                        <li>
                            <a class="bbs_link_menu" routerLink="/generateschedule" [routerLinkActive]="['router-link-active']" ><span><i class="pi pi-slack"></i> {{ 'Generate schedule' }} </span></a>
                        </li>
                    </ul>
                </li>
            </div>
            <a routerLink="/search" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-search"></i> &nbsp; {{ 'Search' }}
            </a>
            <div class="nested-menu" *ngIf="_userService.userInfo.helpDesk ==1 || _userService.userInfo.dataIntegrity ==1 || _userService.userInfo.it ==1 || _userService.userInfo.spaceplanning ==1">
                <a class="list-group-item" (click)="addExpandClass('masterdata')" >
                    <span><i class="fas fa-brain"></i> &nbsp; {{ 'Master data' }} </span>
                </a>
                <li class="nested" [ngClass]="{'expand' : showMenu === 'masterdata' }">
                    <ul class="submenu" >
                        <li>
                            <a class="bbs_link_menu" routerLink="/ppgretail" [routerLinkActive]="['router-link-active']" >
                                <span><i class="fas fa-money-check-dollar"></i> {{ 'Retail by PPG' }}</span>
                            </a>
                        </li>
                        <li>
                            <a class="bbs_link_menu" routerLink="/nextppg" [routerLinkActive]="['router-link-active']" >
                                <span><i class="fas fa-list-ol"></i> {{ 'Next PPG' }}</span>
                            </a>
                        </li>
                        <li>
                            <a class="bbs_link_menu" routerLink="/ecommdesc" [routerLinkActive]="['router-link-active']" >
                                <span><i class="fas fa-film"></i> {{ 'eCommerce desc' }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="nested-menu" *ngIf="_userService.userInfo.helpDesk ==1 || _userService.userInfo.dataIntegrity ==1 || _userService.userInfo.it ==1 || _userService.userInfo.spaceplanning ==1">
                <a class="list-group-item" (click)="addExpandClass('syndigo')" >
                    <span><i class="fas fa-barcode"></i> &nbsp; {{ 'Syndigo' }} </span>
                </a>
                <li class="nested" [ngClass]="{'expand' : showMenu === 'syndigo' }">
                    <ul class="submenu" >
                        <li>
                            <a class="bbs_link_menu" routerLink="/syndigosearch" [routerLinkActive]="['router-link-active']" >
                                <span><i class="fas fa-search"></i> {{ 'Search' }}</span>
                            </a>
                        </li>
                        <li>
                            <a class="bbs_link_menu" routerLink="/syndigocollect" [routerLinkActive]="['router-link-active']" >
                                <span><i class="fas fa-camera"></i> {{ 'Collect' }}</span>
                            </a>
                        </li>
                        <li>
                            <a class="bbs_link_menu" routerLink="/syndigoupdate" [routerLinkActive]="['router-link-active']" >
                                <span><i class="fas fa-wrench"></i> {{ 'Syndigo to MDM' }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="nested-menu" *ngIf="_userService.userInfo.spaceplanning ==1">
                <a class="list-group-item" (click)="addExpandClass('spaceplanning')" >
                    <span><i class="fas fa-ruler-horizontal"></i> &nbsp; {{ 'Space Planning' }} </span>
                </a>
                <li class="nested" [ngClass]="{'expand' : showMenu === 'spaceplanning' }">
                    <ul class="submenu" >
                        <li>
                            <a class="bbs_link_menu" routerLink="/ecommercepicture" [routerLinkActive]="['router-link-active']" >
                                <span><i class="fas fa-camera"></i> {{ 'E-commerce picture' }}</span>
                            </a>
                        </li>
                        <li>
                            <a class="bbs_link_menu" routerLink="/reviewexecution" [routerLinkActive]="['router-link-active']" >
                                <span><i class="fas fa-check"></i> {{ 'Review execution' }}</span>
                            </a>
                        </li>
                        <li>
                            <a class="bbs_link_menu" routerLink="/endcaptracker" [routerLinkActive]="['router-link-active']" >
                                <span><i class="fas fa-file-contract"></i> {{ 'End-cap tracker' }}</span>
                            </a>
                        </li>
                        <li>
                            <a class="bbs_link_menu" routerLink="/spaceplanningvega" [routerLinkActive]="['router-link-active']" >
                                <span><i class="fas fa-poll"></i> {{ 'Review Vega' }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="nested-menu" *ngIf="_userService.userInfo.psr ==1">
                <a class="list-group-item" (click)="addExpandClass('psr')" >
                    <span><i class="fas fa-ship"></i> &nbsp; {{ 'PSR / Seafood' }} </span>
                </a>
                <li class="nested" [ngClass]="{'expand' : showMenu === 'psr' }">
                    <ul class="submenu" >
                        <li>
                            <a class="bbs_link_menu" routerLink="/pricing-analysis" [routerLinkActive]="['router-link-active']" >
                                <span><i class="fas fa-money-check-dollar"></i> {{ 'PSR Pricing' }}</span>
                            </a>
                        </li>
                        <li>
                            <a class="bbs_link_menu" routerLink="/psr-exceptions" [routerLinkActive]="['router-link-active']" >
                                <span><i class="fas fa-receipt"></i> {{ 'Psr Exceptions' }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="nested-menu" *ngIf="_userService.userInfo.pricing ==1 || _userService.userInfo.helpDesk ==1 || _userService.userInfo.dataIntegrity ==1 || _userService.userInfo.it ==1 || _userService.userInfo.spaceplanning ==1">
                <a class="list-group-item" (click)="addExpandClass('pricing')" >
                    <span><i class="fas fa-tags"></i> &nbsp; {{ 'Pricing' }} </span>
                </a>
                <li class="nested" [ngClass]="{'expand' : showMenu === 'pricing' }">
                    <ul class="submenu" >
                        <li>
                            <a class="bbs_link_menu" routerLink="/pricing" [routerLinkActive]="['router-link-active']" >
                                <span><i class="fas fa-search-dollar"></i> {{ 'Pricing' }}</span>
                            </a>
                        </li>
                        <li>
                            <a class="bbs_link_menu" routerLink="/tprexceptions" [routerLinkActive]="['router-link-active']" >
                                <span><i class="fas fa-exclamation-triangle"></i> {{ 'TPR Exceptions' }}</span>
                            </a>
                        </li>
                        <li>
                            <a class="bbs_link_menu" routerLink="/homerunchart" [routerLinkActive]="['router-link-active']" >
                                <span><i class="fas fa-baseball-ball"></i> {{ 'Homerun' }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="nested-menu" *ngIf="_userService.userInfo.helpDesk ==1 || _userService.userInfo.buyer ==1 || _userService.userInfo.dataIntegrity ==1 || _userService.userInfo.it ==1 ">
                <a class="list-group-item" (click)="addExpandClass('hole')" >
                    <span><i class="fas fa-warehouse"></i> &nbsp; {{ 'Hole' }} </span>
                </a>
                <li class="nested" [ngClass]="{'expand' : showMenu === 'hole' }">
                    <ul class="submenu" >
                        <li>
                            <a class="bbs_link_menu" routerLink="/holereporter" [routerLinkActive]="['router-link-active']" >
                                <span><i class="fas fa-file-excel"></i> {{ 'Reporter' }}</span>
                            </a>
                        </li>
                        <li>
                            <a class="bbs_link_menu" routerLink="/holereporting" [routerLinkActive]="['router-link-active']" >
                                <span><i class="fas fa-chart-pie"></i> {{ 'Exec reporting' }}</span>
                            </a>
                        </li>
                        <li>
                            <a class="bbs_link_menu" routerLink="/holereplenishmentorder" [routerLinkActive]="['router-link-active']" >
                                <span><i class="fas fa-truck"></i> {{ 'Store Replen' }}</span>
                            </a>
                        </li>
                        <li>
                            <a class="bbs_link_menu" routerLink="/holecostreporting" [routerLinkActive]="['router-link-active']" >
                                <span><i class="fas fa-dollar-sign"></i> {{ 'Cost reporting' }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="nested-menu" *ngIf="_userService.userInfo.helpDesk ==1 || _userService.userInfo.dataIntegrity ==1 || _userService.userInfo.it ==1 || _userService.userInfo.spaceplanning ==1">
                <a class="list-group-item" (click)="addExpandClass('vega')" >
                    <span><i class="fas fa-box-open"></i> &nbsp; {{ 'Vega' }} </span>
                </a>
                <li class="nested" [ngClass]="{'expand' : showMenu === 'vega' }">
                    <ul class="submenu" >
                        <li>
                            <a class="bbs_link_menu" routerLink="/processvega" [routerLinkActive]="['router-link-active']" >
                                <span><i class="fas fa-laptop-code"></i> {{ 'Monitor' }}</span>
                            </a>
                        </li>
                        <li>
                            <a class="bbs_link_menu" routerLink="/fileupload" [routerLinkActive]="['router-link-active']" >
                                <span><i class="fas fa-file-upload"></i> {{ 'File upload' }}</span>
                            </a>
                        </li>
                        <li>
                            <a class="bbs_link_menu" routerLink="/vegahelp" [routerLinkActive]="['router-link-active']" >
                                <span><i class="fas fa-info-circle"></i> {{ 'Vega help' }}</span>
                            </a>
                        </li>
                        <li>
                            <a class="bbs_link_menu" routerLink="/scheduleconfiguration" [routerLinkActive]="['router-link-active']" >
                                <span><i class="fas fa-sliders"></i> {{ 'Schedule conf.' }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="nested-menu" *ngIf="_userService.userInfo.helpDesk ==1 || _userService.userInfo.it ==1 || _userService.userInfo.dataIntegrity ==1">
                <a class="list-group-item" (click)="addExpandClass('utilities')" >
                    <span><i class="fas fa-tools"></i> &nbsp; {{ 'Utilities' }} </span>
                </a>
                <li class="nested" [ngClass]="{'expand' : showMenu === 'utilities' }">
                    <ul class="submenu" >
                        <li>
                            <a class="bbs_link_menu" routerLink="/converter" [routerLinkActive]="['router-link-active']" >
                                <span><i class="fas fa-file-code"></i> {{ 'Excel converter' }}</span>
                            </a>
                        </li>
                        <li>
                            <a class="bbs_link_menu" routerLink="/commandline" [routerLinkActive]="['router-link-active']" >
                                <span><i class="fas fa-terminal"></i> {{ 'Unix commander' }}</span>
                            </a>
                        </li>
                        <li>
                            <a class="bbs_link_menu" routerLink="/backupunix" [routerLinkActive]="['router-link-active']" >
                                <span><i class="fas fa-hdd"></i> {{ 'Backup unix' }}</span>
                            </a>
                        </li>
                        <li>
                            <a class="bbs_link_menu" routerLink="/scripts-library" [routerLinkActive]="['router-link-active']" >
                                <span><i class="fas fa-books"></i> {{ 'Scripts library' }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>

            <div class="nested-menu" *ngIf="_userService.userInfo.helpDesk ==1 || _userService.userInfo.dataIntegrity ==1 || _userService.userInfo.it ==1 || _userService.userInfo.spaceplanning ==1">
                <a class="list-group-item" (click)="addExpandClass('reporting')" >
                    <span><i class="fas fa-chart-line"></i> &nbsp; {{ 'Reporting' }} </span>
                </a>
                <li class="nested" [ngClass]="{'expand' : showMenu.indexOf('reporting') !== -1 }">
                    <ul class="submenu" style="padding-left: 1.1em;">
                        <a class="list-group-item" (click)="addExpandClass('reporting;order')" >
                            <span><i class="fas fa-shopping-cart"></i> &nbsp; {{ 'Order' }} </span>
                        </a>
                        <li class="nested" [ngClass]="{'expand' : showMenu.indexOf('order') !== -1 }">
                            <ul class="subsubmenu" style="padding-left: 1.2em;" [ngClass]="{'expand' : showMenu === 'order' }">
                                <a class="bbs_link_menu" routerLink="/caoavg" [routerLinkActive]="['router-link-active']" >
                                    <span><i class="fas fa-robot"></i> &nbsp; {{ 'CAO Avg' }} </span>
                                </a>
                            </ul>
                            <ul class="subsubmenu" style="padding-left: 1.2em;" [ngClass]="{'expand' : showMenu === 'order' }"> 
                                <a class="bbs_link_menu" routerLink="/orderbydate" [routerLinkActive]="['router-link-active']" >
                                    <span><i class="fas fa-calendar-alt"></i> &nbsp; {{ 'Order by date' }} </span>
                                </a>
                            </ul>
                            <ul class="subsubmenu" style="padding-left: 1.2em;" [ngClass]="{'expand' : showMenu === 'order' }"> 
                                <a class="bbs_link_menu" routerLink="/orderbyvalue" [routerLinkActive]="['router-link-active']" >
                                    <span><i class="fas fa-dollar-sign"></i> &nbsp; {{ 'Order by $' }} </span>
                                </a>
                            </ul>
                        </li>
                    </ul>
                    <ul class="submenu" style="padding-left: 1.1em;">
                        <a class="list-group-item" (click)="addExpandClass('reporting;dashboard')" >
                            <span><i class="fas fa-tachometer-alt"></i> &nbsp; {{ 'Dashboard' }} </span>
                        </a>
                        <li class="nested" [ngClass]="{'expand' : showMenu.indexOf('dashboard') !== -1 }">
                            <ul class="subsubmenu" style="padding-left: 1.2em;" [ngClass]="{'expand' : showMenu === 'dashboard' }"> 
                                <a class="bbs_link_menu" routerLink="/dashboardcycle" [routerLinkActive]="['router-link-active']" >
                                    <span><i class="fas fa-shopping-cart"></i> &nbsp; {{ 'PI adjustment' }} </span>
                                </a>
                            </ul>
                            <ul class="subsubmenu" style="padding-left: 1.2em;" [ngClass]="{'expand' : showMenu === 'dashboard' }"> 
                                <a class="bbs_link_menu" routerLink="/dashboardsupplier" [routerLinkActive]="['router-link-active']" >
                                    <span><i class="fas fa-truck"></i> &nbsp; {{ 'Supplier service' }} </span>
                                </a>
                            </ul>
                        </li>
                    </ul>
                    <ul class="submenu" style="padding-left: 1.1em;">
                        <a class="list-group-item" (click)="addExpandClass('reporting;quality')" >
                            <span><i class="fas fa-bars"></i> &nbsp; {{ 'Quality' }} </span>
                        </a>
                        <li class="nested" [ngClass]="{'expand' : showMenu.indexOf('quality') !== -1 }">
                            <ul class="subsubmenu" style="padding-left: 1.2em;" [ngClass]="{'expand' : showMenu === 'quality' }"> 
                                <a class="bbs_link_menu" routerLink="/qualitywhsreplenishment" [routerLinkActive]="['router-link-active']" >
                                    <span><i class="fas fa-industry"></i> &nbsp; {{ 'Whs Repl.' }} </span>
                                </a>
                            </ul>
                        </li>
                        <li class="nested" [ngClass]="{'expand' : showMenu.indexOf('quality') !== -1 }">
                            <ul class="subsubmenu" style="padding-left: 1.2em;" [ngClass]="{'expand' : showMenu === 'smartubd' }"> 
                                <a class="bbs_link_menu" routerLink="/smartubd" [routerLinkActive]="['router-link-active']" >
                                    <span><i class="pi pi-clock"></i> &nbsp; {{ 'Smart UBD' }} </span>
                                </a>
                            </ul>
                        </li>
                        <li class="nested" [ngClass]="{'expand' : showMenu.indexOf('quality') !== -1 }">
                            <ul class="subsubmenu" style="padding-left: 1.2em;" [ngClass]="{'expand' : showMenu === 'smartubd' }"> 
                                <a class="bbs_link_menu" routerLink="/dashboardreception" [routerLinkActive]="['router-link-active']" >
                                    <span><i class="pi pi-download"></i> &nbsp; {{ 'AP Receiving' }} </span>
                                </a>
                            </ul>
                        </li>
                    </ul>
                    <ul class="submenu" style="padding-left: 1.1em;">
                        <a class="list-group-item" (click)="addExpandClass('reporting;fillrate')" >
                            <span><i class="fas fa-glass-water"></i> &nbsp; {{ 'Fill Rate' }} </span>
                        </a>
                        <li class="nested" [ngClass]="{'expand' : showMenu.indexOf('fillrate') !== -1 }">
                            <ul class="subsubmenu" style="padding-left: 1.2em;" [ngClass]="{'expand' : showMenu === 'fillrate' }"> 
                                <a class="bbs_link_menu" routerLink="/fillrate" [routerLinkActive]="['router-link-active']" >
                                    <span><i class="fas fa-industry"></i> &nbsp; {{ 'DSD / Warehouse' }} </span>
                                </a>
                            </ul>
                        </li>
                    </ul>
                </li>
            </div>

            <div class="nested-menu" *ngIf="_userService.userInfo.helpDesk ==1 || _userService.userInfo.buyer || _userService.userInfo.dataIntegrity ==1">
                <a class="list-group-item" (click)="addExpandClass('alertsicr')" >
                    <span><i class="fas fa-bell"></i> &nbsp; {{ 'Alerts' }} </span>
                </a>
                <li class="nested" [ngClass]="{'expand' : showMenu === 'alertsicr' }">
                    <ul class="submenu" >
                        <li>
                            <a class="bbs_link_menu" routerLink="/alerts-icr" [routerLinkActive]="['router-link-active']" >
                                <span><i class="fas fa-bullhorn"></i> {{ 'Alerts management' }}</span>
                            </a>
                        </li>
                        <li>
                            <a class="bbs_link_menu" routerLink="/reportfilter" [routerLinkActive]="['router-link-active']" >
                                <span><i class="fas fa-filter"></i> {{ 'Filter config.' }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </ul>
</nav>

<!-- Administration section -->
<nav class="sidebar_admin superbowl-sidebar-admin" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}" *ngIf="_userService.userInfo">
    <div class="list-group" *ngIf="this._userService.userInfo.type=='1'">
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('settings')" [ngClass]="{'isDisabled': this._userService.userInfo.type  != '1' }">
                <span><i class="fa fa-cogs"></i> &nbsp; {{ 'General Settings' }} </span>
            </a>
            <div>
                <li class="nested" [ngClass]="{'expand' : showMenu === 'settings' }">
                    <ul class="submenu">
                        <li>
                            <a routerLink="/settingcustomer" [routerLinkActive]="['router-link-active']">
                                <span><i class="fa fa-th-large"></i> &nbsp; {{ 'Retailer & Access' }}</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/settingusers" [routerLinkActive]="['router-link-active']"><span><i class="fa fa-user"></i> &nbsp; {{ 'Users & Profiles' }}</span></a>
                        </li>
                        <li>
                            <a routerLink="/settingwidget" [routerLinkActive]="['router-link-active']"><span><i class="fa fa-chart-bar"></i> &nbsp; {{ 'Widget Library' }}</span></a>
                        </li>
                        <li>
                            <a routerLink="/settingquery" [routerLinkActive]="['router-link-active']"><span><i class="fa fa-share-square"></i> &nbsp; {{ 'Query Library' }}</span></a>
                        </li>
                        <li>
                            <a routerLink="/settinglabel" [routerLinkActive]="['router-link-active']"><span><i class="fa fa-flag"></i> &nbsp; {{ 'Dictionary' }}</span></a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <div class="logo">
        <img style="width: 50%" *ngIf="_userService.userInfo.mainEnvironment[0].picture"
             src="{{_userService.userInfo.mainEnvironment[0].picture}}" alt="Picture">
    </div>
</nav>