/* You can add global styles to this file, and also import other style files */

// P-FIELDSET Legend (header) is not displayed correctly
// 10/04/2022
.bbs_legend {
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
