<div class="grid nested-grid pt-3  mx-0" style="height: 100%; min-height: 100%; "
      (keydown)="onKeyDown($event)">
    <i class="fa-solid fa-plus"></i>
    <div class="col-10" style="height: 100% !important;">
        <!-- Header filer -->
        <!--div class="row" style="width: 100%; padding-bottom: 1em; padding-left:1em;">
            <div style="width:40%; font-weight: bold; color: black">
                <p-inputGroup>
                    <p-inputGroupAddon addonType="prepend">
                        <i class="pi pi-search "></i>
                    </p-inputGroupAddon>
                    <input pInputText placeholder="Search..."  (input)="searchInTable($event)"/>
                </p-inputGroup>
            </div>      
            <div class="absolute right-0" style="margin-right: 1em; width: 60%;">
                <div style="margin-right: 1em; width: 30%; float: right" >
                    <p-dropdown [style]="{'width':'100%'}" [options]="sortByOption" [(ngModel)]="sortedBy">
                        <ng-template pTemplate="selectedItem">
                            <div style="font-weight: 900;">
                                <div>{{ sortedBy }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>               
                </div>
                <div style="margin-right: 1em; width: 30%; float: right">
                    <p-multiSelect [style]="{'width':'100%'}" [options]="filterByOption" 
                                   [(ngModel)]="filterBy"
                                   optionLabel="name" 
                                   placeholder="FILTER ON "
                                   (onChange)="filterChange()" >

                        <ng-template let-value pTemplate="selectedItems">
                            <div class="inline-flex align-items-center gap-2 px-1" *ngFor="let option of value">
                                <div>{{ option.code }},</div>
                            </div>
                            <div *ngIf="!value || value.length === 0">FILTER</div>
                        </ng-template>
                    </p-multiSelect>               
                </div>      
            </div>
        </div-->
        <!-- Table inventory -->
        <div  #divTable id="productList" *ngIf="loadingComplete" style=" width:100%;">
            <!--p-tabView [(activeIndex)]="activeIndex" [scrollable]="true" [selectOnFocus]="true" (onChange)="selectVendor($event)">
                <p-tabPanel *ngFor="let supplier of supplierList" [header]="supplier.name"  -->
                    <div style="height: calc(90vh - 149px)">
                        <p-table #resultTable  [value]="displayedProducts" 
                                [responsive]="true"
                                styleClass="p-datatable-sm"
                                [paginator]="false" 
                                selectionMode="single" 
                                [(selection)]="productSelected"  
                                [totalRecords]="displayedProducts.length"
                                (onRowSelect)="onRowSelect($event)"
                                (onRowUnselect)="onRowUnselect($event)"   
                                [scrollable]="true"
                                scrollHeight="flex"
                                [virtualScroll]="true" 
                                [virtualRowHeight]="100" 
                                [virtualRowHeight]="34" 
                                (sortFunction)="customSort($event)" [customSort]="true"
                                [globalFilterFields]="['itemCode','itemDesc','supplierCode','supplierDesc']"
                                [rows]="displayedProducts.length"
                                >
                        <!-- FILTER -->
                        <ng-template pTemplate="caption">
                            <div class="table-header row">
                                <div style="width: 40%">
                                    <p-inputGroup>
                                        <p-inputGroupAddon addonType="prepend">
                                            <i class="pi pi-search "></i>
                                        </p-inputGroupAddon>
                                        <input pInputText placeholder="Search..."  (input)="resultTable.filterGlobal($any($event.target).value, 'contains')"/>
                                    </p-inputGroup>
                                </div>
                                <div style="width: 60%;">
                                    <div style="float: right" class="row">
                                        <div style="padding-right: 5em">
                                            <i *ngIf="filterBy.length == 0" class="pi pi-filter" (click)="showFilter()" 
                                                style="font-size: large; text-align: center">
                                                <span style="font-size: small;font-weight: 900;font-family:sans-serif; 
                                                             display: table-cell; padding-top: 0.7em">
                                                    FILTER
                                                </span>
                                            </i>
                                            <i *ngIf="filterBy.length > 0" class="pi pi-filter" (click)="showFilter()" 
                                                style="font-size: large; text-align: center; color: blue">
                                                <span style="font-size: small;font-weight: 900;font-family:sans-serif; 
                                                             display: table-cell; padding-top: 0.7em">
                                                    FILTER
                                                </span>
                                            </i>
                                            <p-listbox #filterList *ngIf="filterDisplay" [options]="filterByOption" [(ngModel)]="filterBy" optionLabel="name" 
                                                    [multiple]="true" [metaKeySelection]="false" class="w-full md:w-56"
                                                    appendTo="body"
                                                    (onChange)="filterChange()"
                                                    [style]="{'position': 'absolute','z-index': '99',
                                                              'font-size':'x-small',
                                                              'width': '30% !important', 'top': '2em'}">
                                            </p-listbox>
                                        </div>
                                        <div style="padding-right: 3em">
                                            <i *ngIf="sortedBy == null" class="pi pi-sort-alt" (click)="showSort()" 
                                                style="font-size: large; text-align: center">
                                                <span style="font-size: small; font-weight: 900;font-family:sans-serif; 
                                                             display: table-cell; padding-top: 0.7em">
                                                    SORT
                                                </span>
                                            </i>
                                            <i *ngIf="sortedBy != null" class="pi pi-sort-alt" (click)="showSort()" 
                                                style="font-size: large; text-align: center; color: blue">
                                                <span style="font-size: small; font-weight: 900;font-family:sans-serif; 
                                                             display: table-cell; padding-top: 0.7em;">
                                                    SORT
                                                </span>
                                            </i>
                                            <p-listbox #sortList *ngIf="sortDisplay" [options]="sortByOption" [(ngModel)]="sortedBy" optionLabel="name" 
                                                    [metaKeySelection]="false" class="w-full md:w-56"
                                                    appendTo="body"
                                                    (onChange)="sortChange()"
                                                    [style]="{'position': 'absolute','z-index': '99',
                                                              'font-size':'x-small',
                                                              'width': '30% !important', 'top': '2em'}">
                                            </p-listbox>
                                        </div>
                                        <div style="padding-right: 3em">
                                            <i class="pi pi-plus-circle" 
                                                style="font-size: large; text-align: center">
                                            <span style="font-size: small;font-weight: 900; font-family:sans-serif; 
                                                         display: table-cell; padding-top: 0.7em">
                                                NOT LISTED ITEM
                                            </span>
                                        </i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <!-- HEADER -->
                        <ng-template pTemplate="header">             
                            <tr style="font-size: smaller !important">
                                <ng-container *ngFor="let col of colsTable">
                                    <th  *ngIf="col.field != 'total' && col.field != 'inventory'" [style.text-align]="col.align" [style.width]="col.width" [style.padding-left]="col.paddingleft">
                                        {{col.header}}
                                    </th>
                                    <th  *ngIf="col.field == 'total'" [style.text-align]="col.align" [style.width]="col.width" 
                                         [style.padding-left]="col.paddingleft" pSortableColumn="TOTAL_UNIT">
                                        {{col.header}}
                                        <p-sortIcon field="{{col.field}}" />
                                    </th>
                                    <th  *ngIf="col.field == 'inventory'" [style.text-align]="col.align" [style.width]="col.width" 
                                         [style.padding-left]="col.paddingleft" pSortableColumn="TOTAL_COST">
                                        {{col.header}}
                                        <p-sortIcon field="{{col.field}}" />
                                    </th>
                                </ng-container>
                            </tr>
                        </ng-template>
                        <!-- BODY-->
                        <ng-template pTemplate="body" let-rowData let-columns="colsTable" let-rowIndex="rowIndex">
                            <tr [pSelectableRow]="rowData" style="background-color: white; font-size: smaller !important">
                                <td style="border-bottom: 1px black  solid;" >
                                    <p-card>
                                        <ng-template pTemplate="header">
                                            <span style="font-weight: 900; ">{{rowData['itemDesc']}}</span>
                                            <span style="float: right; font-weight: 600; font-size: smaller !important; padding-right: 1em; padding-top:1em">
                                                <p-button severity="secondary" [raised]="true" size="large">
                                                    {{rowData['itemCode']}}
                                                </p-button>
                                            </span>
                                        </ng-template>
                                        <div class="row" style="float:right; font-size: smaller !important">
                                            <span style="padding-left: 1em; ">PACK SIZE: {{rowData['pack'] }} </span>
                                            <span style="padding-left: 1em; ">CASE WEIGHT: {{rowData['caseWeight'] | number : '1.2-2' }} lbs</span>
                                            <span style="padding-left: 1em; ">UNIT COST: $ {{rowData['grossUnit'] | number : '1.2-2' }} </span>
                                        </div>
                                        <div class="row" style="float:right; font-size: smaller !important">
                                            <span style="padding-left: 1em; ">CASE COST: $ {{rowData['grossCost'] | number : '1.2-2' }} </span>
                                            <span style="padding-left: 1em; ">RETAIL: $ {{rowData['storeRetailPermanent'] | number : '1.2-2' }} </span>
                                            <span style="padding-left: 1em; ">WAC: $ {{rowData['storeWAC'] | number : '1.2-2' }}</span>
                                        </div>
                                        
                                        <!-- FOOTER CARD -->
                                        <!--ng-template pTemplate="footer">
                                            <div class=" right-0">
                                                {{rowData['UPC']}}
                                            </div>
                                            <div class="right-0">
                                                {{rowData['grossCost']}}
                                            </div>
                                        </ng-template-->
                                    </p-card>
                                </td>
                                <!-- BACKROOM QTY-->
                                <td style="border-bottom: 1px black  solid; padding-left:1em" >
                                    <div class="row" style="justify-content: center; width: 100%;font-size: smaller !important">
                                        <!-- UNIT-->
                                        <table style="justify-self: center;width: 40%;">
                                                <tr>
                                                    <th style="height: 0px;width:75%;; colspan: 2">
                                                    </th>
                                                </tr>
                                                <tr style=" text-align: center; line-height: 270%;border: 2px solid black;">
                                                    <td style="font-weight: 900">
                                                        <p-button id="skuButton" *ngIf="rowData['BACKROOM_SKU'] >0"  
                                                                   pTooltip="{{rowData['BACKROOM_SKU']}} unit counted" tooltipPosition="left"
                                                                   appendTo="body"
                                                                  icon="pi pi-plus-circle" />
                                                        {{rowData['BACKROOM_CASE_DISP']}}
                                                    </td>
                                                    <td style="text-align: right; font-size: smaller;padding-right: 10px;">
                                                        CS
                                                    </td>
                                                </tr>
                                        </table>
                                        <!-- + -->
                                         <div *ngIf="rowData['BACKROOM_LBS_DISP'] > 0"  style="align-content: center;font-size: larger; width: 5%; margin-left: 0.2em;">
                                            <i class="pi pi-plus"></i>
                                         </div>
                                        <!-- LBS-->
                                        <table *ngIf="rowData['BACKROOM_LBS_DISP'] > 0" style="justify-self: center;width: 40%; margin-left: 0.6em;">
                                            <tr>
                                                <th style="height: 0px;width:75%; colspan:2">
                                                </th>
                                            </tr>
                                            <tr style=" text-align: center; line-height: 270%;border: 2px solid black;">
                                                <td style="font-weight: 900">      
                                                    {{rowData['BACKROOM_LBS_DISP'] | number : '1.2-4'}}
                                                </td>
                                                <td style="text-align: right; font-size: smaller;padding-right: 10px;">
                                                    LBS
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                                <!-- SALE QTY-->
                                <td style="border-bottom: 1px black  solid; padding-left:1em">
                                    <div class="row" style="justify-content: center; width: 100%;font-size: smaller !important">
                                        <!-- UNIT-->
                                        <table style="justify-self: center;width: 40%;" >
                                                <tr>
                                                    <th style="height: 0px;width:75%; colspan:2">
                                                    </th>
                                                </tr>
                                                <tr style=" text-align: center; line-height: 270%;border: 2px solid black">
                                                    <td style="font-weight: 900">      
                                                        <p-button id="skuButton" *ngIf="rowData['SALE_SKU'] >0"  
                                                                   pTooltip="{{rowData['SALE_SKU']}} unit counted" tooltipPosition="left"
                                                                   appendTo="body"
                                                                  icon="pi pi-plus-circle" />
                                                        {{rowData['SALE_CASE_DISP']}}
                                                    </td>
                                                    <td style="text-align: right; font-size: smaller;padding-right: 10px;">
                                                        CS
                                                    </td>
                                                </tr>
                                        </table>
                                        <!-- + -->
                                         <div *ngIf="rowData['SALE_LBS_DISP'] > 0" style="align-content: center;font-size: larger; width: 5%; margin-left: 0.2em;">
                                            <i class="pi pi-plus"></i>
                                         </div>
                                        <!-- LBS-->
                                        <table *ngIf="rowData['SALE_LBS_DISP'] > 0"  style="justify-self: center;width: 40%;  margin-left: 0.6em;">
                                            <tr>
                                                <th style="height: 0px;width:75%; colspan:2">
                                                </th>
                                            </tr>
                                            <tr style=" text-align: center; line-height: 270%;border: 2px solid black;">
                                                <td style="font-weight: 900">    
                                                    {{rowData['SALE_LBS_DISP'] | number : '1.2-4'}}
                                                </td>
                                                <td style="text-align: right; font-size: smaller;padding-right: 10px;">
                                                    LBS
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                                <!-- TOTAL COUNT-->
                                <td style="border-bottom: 1px black  solid;text-align: center">
                                    <table style="justify-self: center;width: 40%;  margin-left: 0.6em;">
                                        <tr>
                                            <th style="height: 0px;width:75%; colspan:2; border:none">
                                            </th>
                                        </tr>
                                        <tr style=" text-align: center; ">
                                            <td style="font-weight: 900">    
                                                {{rowData['TOTAL_SKU'] }}
                                            </td>
                                            <td style="text-align: right; font-size: smaller;padding-right: 10px;">
                                                SKU
                                            </td>
                                        </tr>
                                        <tr *ngIf="rowData['TOTAL_CASE'] >0" style=" text-align: center; ">
                                            <td style="font-weight: 900">    
                                                {{rowData['TOTAL_CASE'] }}
                                            </td>
                                            <td style="text-align: right; font-size: smaller;padding-right: 10px;">
                                                CS
                                            </td>
                                        </tr>
                                        <tr *ngIf="rowData['TOTAL_LBS'] >0"  style=" text-align: center; ">
                                            <td style="font-weight: 900">    
                                                {{rowData['TOTAL_LBS'] }}
                                            </td>
                                            <td style="text-align: right; font-size: smaller;padding-right: 10px;">
                                                LBS
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <!-- INVENTORY COST -->
                                <td style="border-bottom: 1px black  solid;text-align: left">
                                    <div style="width:100%">
                                        <span  *ngIf="rowData['costUsed'] == 'Unit cost'" style="float: right; font-weight: 600; font-size: smaller !important; padding-right: 1em;">
                                            <p-button severity="warning" [raised]="true" size="large">
                                                {{rowData['costUsed']}}
                                            </p-button>
                                        </span>
                                    </div>
                                    <div class="grid" style="width: 100%">
                                        <div class="col-9">
                                            <table style="justify-self: center;width: 40%;  margin-left: 0.6em;">
                                                <tr>
                                                    <th style="height: 0px;width:15%; border:none">
                                                    </th>
                                                    <th style="height: 0px;width:50%; border:none">
                                                    </th>
                                                </tr>
                                                <tr style=" text-align: center; ">
                                                    <td style="font-weight: 900">    
                                                        $
                                                    </td>
                                                    <td style="colspan:2; width:90%; text-align: right; font-size: smaller;padding-right: 10px;">
                                                        {{rowData['TOTAL_COST'] | number : '1.2-2' }}
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-3">
                                            <i class="pi pi-bullseye" pTooltip="WAC override" tooltipPosition="top" (click)="wacOverride.toggle($event)" style="font-size: 1.7em;"></i>
                                            <p-popover #wacOverride>
                                                <div class="flex flex-col gap-4 w-[25rem]">
                                                    <div>
                                                    </div>
                                                </div>
                                            </p-popover>
                                        </div>
                                    </div>
                                    
                                </td>
                            </tr>
                        </ng-template>
        
                        </p-table>
                    </div>
                <!--/p-tabPanel>
            </p-tabView-->
        </div>
        <!-- FOOTER TOTAL -->
        <div  style="width: 100%;height: 10%; background-color: white; margin-top: 1em;">
            <div style="width:60%">
            </div>
            <div class="absolute right-0" style="place-items:center; width: 50%">
                <table style="width: 80%;padding-right:1em; font-size: smaller !important;  margin-right: 1em; float: right" >
                        <tr >
                            <th style="text-align: center; width:30%;border: unset; font-weight: 900; height: 1em; padding-top:1em;">
                                TOTAL CASE
                            </th>
                            <th style="text-align: center;height: 0px;width:30%; border: unset ; font-weight: 900; height: 1em; padding-top:1em;">
                                TOTAL WEIGHT
                            </th>
                            <th style="text-align: center;height: 0px;width:30%; border: unset; font-weight: 900; height: 1em; padding-top:1em;">
                                INVENTORY
                            </th>
                        </tr>
                        <tr style="  line-height: 200%; font-size: larger; font-weight: 900; font-size: larger;">
                            <td style="text-align: center; ">    
                                {{totalCS}}
                            </td>
                            <td style="text-align: center;padding-right: 10px;">
                                {{totalWeight}}
                            </td>
                            <td style="text-align: center;padding-right: 10px;">
                                {{totalInventory | currency}}
                            </td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- Qty/Count + scan input -->
    <div class="col-2 mx-0" style="height: 100%;">
        <div class="grid">
                <div class="text-center border-round-sm h-full  font-bold p-fluid w-full">
                   <p-selectButton #selectArea [options]="optionArea" [(ngModel)]="selectedArea"  optionLabel="label" optionValue="value" [allowEmpty]="false" size="small"
                                    [style]="{'display' : 'flex', 'font-size':'smaller'}"/>
                   <p-button id="fullCaseBtn" (click)="pressNumByCase(1)">Full case</p-button>
                   <p-button id="Case34Btn" (click)="pressNumByCase(0.75)">3/4 case</p-button>
                   <p-button id="Case12Btn" (click)="pressNumByCase(0.50)">1/2 case</p-button>
                   <p-button id="Case14Btn" (click)="pressNumByCase(0.25)">1/4 case</p-button>
                   <p-button id="emptyCaseBtn" (click)="pressNumByCase(0)">EMPTY</p-button>
            </div>
        </div>
        <!-- Keypad number -->
        <div class="grid" style="margin-top: 1em; ">
                <div class="text-center border-round-sm h-full  font-bold p-fluid w-full" >
                   <p-selectButton #selectArea [options]="optionCounting" [(ngModel)]="selectedCounting"  optionLabel="label" optionValue="value" [allowEmpty]="false" 
                                    [style]="{'display' : 'flex', 'font-size':'smaller'}"/>

                   <div class="col-sm-12 m-0" style="padding: 0.15em !important">
                    <button class="col-sm-3 p-3 button-square-white" type="button" (click)="pressNum('7')">7</button>
                    <button class="col-sm-3 p-3 button-square-white" type="button" (click)="pressNum('8')">8</button>
                    <button class="col-sm-3 p-3 button-square-white" type="button" (click)="pressNum('9')">9</button>
                    <button class="col-sm-3 p-3 button-square-white" type="button" (click)="pressNum('Backspace')">
                       <i class="pi pi-delete-left" style="font-size: larger"></i>
                    </button>
                  </div>
                  <div class="col-sm-12 m-0" style="padding: 0.15em !important">
                   <button class="col-sm-3 p-3 button-square-white" type="button" (click)="pressNum('4')">4</button>
                   <button class="col-sm-3 p-3 button-square-white" type="button" (click)="pressNum('5')">5</button>
                   <button class="col-sm-3 p-3 button-square-white" type="button" (click)="pressNum('6')">6</button>
                   <button class="col-sm-3 p-3 button-square-white" type="button" (click)="pressNum('downdown')">
                       <i class="pi pi-angle-double-down" style="font-size: larger"></i>
                   </button>
                 </div>
                 <div class="col-sm-12 m-0" style="padding: 0.35em !important">
                  <button class="col-sm-3 p-3 button-square-white" type="button" (click)="pressNum('1')">1</button>
                  <button class="col-sm-3 p-3 button-square-white" type="button" (click)="pressNum('2')">2</button>
                  <button class="col-sm-3 p-3 button-square-white" type="button" (click)="pressNum('3')">3</button>
                  <button class="col-sm-3 p-3 button-square-white" type="button" (click)="pressNum('up')">
                      <i class="pi pi-sort-up-fill" style="font-size: larger"></i>
                   </button>
                </div>
                <div class="col-sm-12 m-0 p-1" >
                 <button class="col-sm-6 p-3 button-zero-white" type="button" (click)="pressNum('0')">0</button>
                 <button class="col-sm-3 p-3 button-square-white" type="button" (click)="pressNum('Period')">.</button>
                 <button class="col-sm-3 p-3 button-square-white" type="button" (click)="pressNum('down')">
                    <i class="pi pi-sort-down-fill" style="font-size: larger"></i>
                 </button>
               </div>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <button class="button-transparent colorButton scanbutton" style="width: 100px; height:100px;box-shadow: 1px 1px 20px 1px gray; " 
                                (click)="scan()">
                    <i class="pi pi-qrcode " style="font-size: 2rem; color:var(--gray-800);"></i>
            </button>
            </div>
        </div>
    </div>
</div>
    