<app-page-header [heading]="'Diagnostic tool'"  [icon]="'fa-robot'"
                 [waitMessage]="waitMessage" [screenID]="screenID" [headcolor]="'gold'" [linkcolor]="'chocolate'"></app-page-header>

<div class="content-section implementation" style="padding: 5px;">
    <p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
</div>

<div>
  <div [ngClass]="msgClass" role="alert"  style="width: 100%; float: left; font-size:small; ">
    <i [ngClass]="msgIconClass"></i>
    <span  style="margin-left: 1em">{{msgDisplay}}</span>
  </div>
  <!-- Robot -->
  <div class="robot">
    <div class="circle-bg">
      <div class="robot-ear left"></div>
      <div class="robot-head">
        <div class="robot-face">
          <div class="eyes left"></div>
          <div class="eyes right"></div>
          <div class="mouth"></div>
        </div>
      </div>
      <div class="robot-ear right"></div>
      <div class="robot-body"></div>
    </div>
  </div>
  <!-- Filter section -->
  <div>

    <div style="padding: .5em 0 1em 0">
     
      <div class="row">
          <div style="width: 50%; display: inline-flex;">
              <ng-container *ngFor="let category of AllCategories; let catIndex=index">
                <div style="padding-left: 1em;">
                  <p-checkbox (click)= "deactivateCategorySelection(catIndex)" value="category" [value]="category"  [(ngModel)]="selectedCategories" [inputId]="selectedCategories[catIndex]" [disabled]="category.key === 'R'"></p-checkbox>
                  <label class="font-bold" [for]="AllCategories[catIndex]">{{AllCategories[catIndex].entryDesc}}</label>
                </div>
              </ng-container>
              <div style="padding-left: 3em;">
                  <a (click)= "deactivateCategorySelection(-1)" style="cursor: pointer;text-decoration: underline;color: #069;">uncheck all</a>
              </div>
          </div>
          <div style="width: 48%; text-align: right;">
            <span style="margin-right: 20%;" *ngIf="combinedStatus == 1" class="btn btn-success">{{combinedIssues}} issue</span>
            <span style="margin-right: 20%;" *ngIf="combinedStatus == 2" class="btn btn-danger">{{combinedIssues}} issues</span>
            <button  *ngIf="combinedStatus !=0" style="margin-right: 5px;" type="button" pButton icon="fas fa-file-alt"  label="Report" (click)="executeReport()" ></button>
            <button  disabled *ngIf="combinedStatus ==0"  style="margin-right: 5px;"  type="button" pButton icon="fas fa-file-alt"  label="Report" ></button>
            <button  disabled *ngIf="diagListIssue == 1" style="margin-right: 5px;" type="button" pButton icon="fas fa-dot-circle"  label="Run diag." ></button>
            <button  style="margin-right: 5px;" *ngIf="diagListIssue == 0" type="button" pButton icon="fas fa-dot-circle"  label="Run diag." (click)="displayPopup.doDiag=true" ></button>
            <button  disabled *ngIf="combinedStatus !=2" type="button" pButton icon="fas fa-screwdriver"  label="Fix" ></button>
            <button  *ngIf="combinedStatus ==2"  type="button" pButton icon="fas fa-screwdriver"  label="Fix" (click)="displayPopup.doFix=true" ></button>
          </div>
        </div>
    </div>
    <div class="row">
      <p-tabView [activeIndex]="activeDomain" [style]="{'width': '98%', 'position': 'absolute', 'left':'1em', 'border': '1px solid darkgray' }">
        <ng-container *ngFor="let category of AllCategories; let catIndex=index">
          <p-tabPanel [disabled]="category.count == 0 || category.deactivated" 
                      [headerStyle]="{'width': '8%', 'background-color':'dimgrey', 'line-height':'0px'}">
              <ng-template pTemplate = "header">
                <span style="color:white">{{category.entryDesc}}</span>
                <span class="badge_round">
                  {{category.count}}
                </span>
            </ng-template>
            <table *ngIf="columnsDiag.length >0 && category.count > 0">
              <thead>
                <tr>
                  <ng-container *ngFor="let column of columnsDiag; let colIndex=index">
                    <th [ngStyle]="{'width': column.width, 'text-align':column.textalign}">
                        {{column.header}}
                    </th>
                  </ng-container>
                </tr>
              </thead>
              <ng-container *ngFor="let diag of diagnosticList; let colDiag=index">
                <tr *ngIf="diag.diagDomain == AllCategories[catIndex].entryId" style="cursor: pointer;">
                  <td (click)='selectDiagDetail(colDiag);'>{{diag.diagId}} </td>
                  <td [innerHTML] (click)='selectDiagDetail(colDiag);'>{{diag.diagInfo}} </td>
                  <td [innerHTML] (click)='selectDiagDetail(colDiag);'>{{diag.commentInfo}} </td>
                  <td (click)='selectDiagDetail(colDiag);' style="text-align: center;">{{diag.checks.length}} </td>
                  <td (click)='selectDiagDetail(colDiag);' style="text-align: center;">
                    <span *ngIf="diag.status == 0" class="btn btn-primary">{{diag.statusInfo}} </span>
                    <span *ngIf="diag.status == 1" class="btn btn-success">{{diag.statusInfo}} </span>
                    <span *ngIf="diag.status == 2" class="btn btn-danger">{{diag.statusInfo}} </span>
                 </td>
                  <!--td (click)='selectDiagDetail(colDiag);' style="text-align: center;">
                        <button type="submit" 
                                *ngIf="diag.status == 2"
                                #buttonERROR_{{index}}
                                pButton (click)="downloadFile(index, true)" 
                                icon="fas fa-file-excel" 
                                style="text-align: center;margin: 0">
                        </button>                    
                        <button type="submit" 
                                *ngIf="diag.status != 2"
                                #buttonERROR_{{index}}
                                pButton (click)="downloadFile(index, true)" 
                                icon="fas fa-file-excel" 
                                style="text-align: center;margin: 0"
                                disabled>
                        </button>
                  </td-->
                  <td style="text-align: center;"><input type="checkbox" [(ngModel)]="diag.checked"></td>
                </tr>
              </ng-container>
            </table>
            <span *ngIf="category.count == 0" style="font-size: large;">No authorized controls and diagnostics defined for your profile. </span>
          </p-tabPanel>
        </ng-container>
      </p-tabView>
    </div>
  </div>
</div>

<!-- Display detail diag (Controls list) Pop-up-->
<p-dialog *ngIf="displayPopup.display"  
      header="{{diagnosticList[displayPopup.index].diagId}} - {{diagnosticList[displayPopup.index].diagInfo}} " 
      [(visible)]="displayPopup.display" 
      width="50%"  [maximizable]="false"
      height="90%"
      >
      <table *ngIf="diagnosticList[displayPopup.index].checks.length >0">
        <thead>
          <tr>
            <ng-container *ngFor="let column of columnsControl; let colIndex=index">
              <th style="background-color: crimson; color: white">
                  {{column.header}}
              </th>
            </ng-container>
          </tr>
        </thead>
        <ng-container *ngFor="let control of diagnosticList[displayPopup.index].checks; let colDiag=index">
          <tr>
            <td>{{control.checkId}} </td>
            <td [innerHTML]>{{control.checkInfo}} </td>
            <td [ngStyle]="{'text-align': 'center'}">

              <span *ngIf="control.checkLevel == 1" class="btn btn-info">{{control.checkLevelDesc}} </span>
              <span *ngIf="control.checkLevel == 2" class="btn btn-warning">{{control.checkLevelDesc}} </span>
              <span *ngIf="control.checkLevel == 3" class="btn btn-danger">{{control.checkLevelDesc}}</span>
            </td>
            <td  style="text-align: center;">
              <span *ngIf="control.status == 0" class="btn btn-primary">{{control.statusInfo}} </span>
              <span *ngIf="control.status == 1" class="btn btn-success">{{control.statusInfo}} </span>
              <span *ngIf="control.status == 2" class="btn btn-danger">{{control.statusInfo}}</span>
            </td> 
            <td  style="text-align: center;">
                  <button type="submit" 
                          *ngIf="control.status == 2"
                          #buttonERROR_{{index}}
                          pButton (click)="downloadControlFile(displayPopup.index, colDiag)" 
                          icon="fas fa-file-excel" 
                          style="text-align: center;margin: 0">
                  </button>                    
                  <button type="submit" 
                          *ngIf="control.status != 2"
                          #buttonERROR_{{index}}
                          pButton (click)="downloadControlFile(displayPopup.index, colDiag)" 
                          icon="fas fa-file-excel" 
                          style="text-align: center;margin: 0"
                          disabled>
                  </button>
            </td>
            <td style="text-align: center;"><input type="checkbox" [(ngModel)]="control.checked" [readonly]=true></td>
          </tr>
        </ng-container>
      </table>
      <p-footer>
        <button style="float: right; margin-bottom:0.5em" 
                type="button" pButton icon="fas fa-check" iconPos="right" (click)="displayPopup.display=false" 
                label="Ok">
        </button>
    </p-footer>
</p-dialog>

<!-- Run Diag Pop-up-->
<p-dialog *ngIf="displayPopup.doDiag"  
      header="Diagostic details to be executed " 
      [(visible)]="displayPopup.doDiag" 
      width="50%"  [maximizable]="false"
      height="90%"
      >
      <span style="font-size: larger;">This is the list of controls, I will diagnose : </span>
      <br>
      <table *ngIf="diagnosticList.length >0">
        <thead>
          <tr>
            <ng-container *ngFor="let column of columnsControl; let colIndex=index">
              <th style="background-color: crimson; color: white">
                  {{column.header}}
              </th>
            </ng-container>
          </tr>
        </thead>
        <ng-container *ngFor="let diag of diagnosticList; let colDiag=index">
          <ng-container *ngFor="let control of diag.checks; let colControl=index">
            <tr *ngIf="diag.checked && control.checked">
              <td>{{control.checkId}} </td>
              <td [innerHTML]>{{control.checkInfo}} </td>
              <td [ngStyle]="{'text-align': 'center'}">

                <span *ngIf="control.checkLevel == 1" class="btn btn-info">{{control.checkLevelDesc}} </span>
                <span *ngIf="control.checkLevel == 2" class="btn btn-warning">{{control.checkLevelDesc}} </span>
                <span *ngIf="control.checkLevel == 3" class="btn btn-danger">{{control.checkLevelDesc}}</span>
              </td>
              <td style="text-align: center;">
                <span *ngIf="control.status == 0" class="btn btn-primary">{{control.statusInfo}} </span>
                <span *ngIf="control.status == 1" class="btn btn-success">{{control.statusInfo}} </span>
                <span *ngIf="control.status == 2" class="btn btn-danger">{{control.statusInfo}}</span>
              </td> 
              <td style="text-align: center;">
                    <button type="submit" 
                            *ngIf="control.status == 2"
                            #buttonERROR_{{index}}
                            pButton (click)="downloadControlFile(displayPopup.index, colDiag)" 
                            icon="fas fa-file-excel" 
                            style="text-align: center;margin: 0">
                    </button>                    
                    <button type="submit" 
                            *ngIf="control.status != 2"
                            #buttonERROR_{{index}}
                            pButton (click)="downloadControlFile(displayPopup.index, colDiag)" 
                            icon="fas fa-file-excel" 
                            style="text-align: center;margin: 0"
                            disabled>
                    </button>
              </td>
              <td style="text-align: center;"><input type="checkbox" [(ngModel)]="control.checked" [readonly]=true></td>
            </tr>
          </ng-container>
        </ng-container>
      </table>
      <p-footer>
        <button style="float: right; margin-bottom:0.5em" 
                type="button" pButton icon="fas fa-check" iconPos="right" (click)="displayPopup.doDiag=false; executeDiagnostic()" 
                label="Ready">
        </button>
        <button style="float: right; margin-bottom:0.5em" 
                type="button" pButton icon="fas fa-times" iconPos="right" (click)="displayPopup.doDiag=false" 
                label="Cancel">
        </button>
    </p-footer>
</p-dialog>

<!-- Run Fix Pop-up-->
<p-dialog *ngIf="displayPopup.doFix"  
      header="Issues to be fixed " 
      [(visible)]="displayPopup.doFix" 
      width="50%"  [maximizable]="false"
      height="90%"
      >
      <span style="font-size: larger;">This is the list of issues, I will try to fix : </span>
      <br>
      <table *ngIf="diagnosticList.length >0">
        <thead>
          <tr>
            <ng-container *ngFor="let column of columnsControl; let colIndex=index">
              <th style="background-color: crimson; color: white">
                  {{column.header}}
              </th>
            </ng-container>
          </tr>
        </thead>
        <ng-container *ngFor="let diag of diagnosticList; let colDiag=index">
          <ng-container *ngFor="let control of diag.checks; let colControl=index">
            <tr *ngIf="diag.checked && control.checked && control.status ==2">
              <td>{{control.checkId}} </td>
              <td [innerHTML]>{{control.checkInfo}} </td>
              <td [ngStyle]="{'text-align': 'center'}">

                <span *ngIf="control.checkLevel == 1" class="btn btn-info">{{control.checkLevelDesc}} </span>
                <span *ngIf="control.checkLevel == 2" class="btn btn-warning">{{control.checkLevelDesc}} </span>
                <span *ngIf="control.checkLevel == 3" class="btn btn-danger">{{control.checkLevelDesc}}</span>
              </td>
              <td style="text-align: center;">
                <span *ngIf="control.status == 0" class="btn btn-primary">{{control.statusInfo}} </span>
                <span *ngIf="control.status == 1" class="btn btn-success">{{control.statusInfo}} </span>
                <span *ngIf="control.status == 2" class="btn btn-danger">{{control.statusInfo}}</span>
              </td> 
              <td  style="text-align: center;">
                    <button type="submit" 
                            *ngIf="control.status == 2"
                            #buttonERROR_{{index}}
                            pButton (click)="downloadControlFile(displayPopup.index, colDiag)" 
                            icon="fas fa-file-excel" 
                            style="text-align: center;margin: 0">
                    </button>                    
                    <button type="submit" 
                            *ngIf="control.status != 2"
                            #buttonERROR_{{index}}
                            pButton (click)="downloadControlFile(displayPopup.index, colDiag)" 
                            icon="fas fa-file-excel" 
                            style="text-align: center;margin: 0"
                            disabled>
                    </button>
              </td>
              <td style="text-align: center;"><input type="checkbox" [(ngModel)]="control.checked" [readonly]=true></td>
            </tr>
          </ng-container>
        </ng-container>
      </table>
      <p-footer>
        <button style="float: right; margin-bottom:0.5em" 
                type="button" pButton icon="fas fa-check" iconPos="right" (click)="displayPopup.doFix=false; executeFix()" 
                label="Ready">
        </button>
        <button style="float: right; margin-bottom:0.5em" 
                type="button" pButton icon="fas fa-times" iconPos="right" (click)="displayPopup.doFix=false" 
                label="Cancel">
        </button>
    </p-footer>
</p-dialog>


<!-- Done Diag Pop-up-->
<p-dialog *ngIf="displayPopup.doneDiag"  
      header="Diagostic process completed " 
      [(visible)]="displayPopup.doneDiag" 
      width="50%"  [maximizable]="false"
      height="90%"
      >
      <span>All the selected diagnostics  have been executed. {{combinedIssues}} issue(s) have been found.</span>
      <br>
      <p-footer>
        <button style="float: right; margin-bottom:0.5em" 
                type="button" pButton icon="fas fa-check" iconPos="right" (click)="displayPopup.doneDiag=false;" 
                label="Ready">
        </button>
    </p-footer>
</p-dialog>


<!-- Done Fix Pop-up-->
<p-dialog *ngIf="displayPopup.doneFix"  
      header="Fixing process completed" 
      [(visible)]="displayPopup.doneFix" 
      width="50%"  [maximizable]="false"
      height="90%"
      >
      <span>Fixing process is now completed.</span>
      <br>
      <p-footer>
        <button style="float: right; margin-bottom:0.5em" 
                type="button" pButton icon="fas fa-check" iconPos="right" (click)="displayPopup.doneFix=false;" 
                label="Ready">
        </button>
    </p-footer>
</p-dialog>