<app-page-header [heading]="'Stores ASN (de)activation '" [icon]="'fas fa-truck-fast'" [waitMessage]="waitMessage" [screenID]="screenID" [headcolor]="'gold'"
  [linkcolor]="'chocolate'"></app-page-header>

<div class="content-section implementation" style="padding: 5px;">
  <p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
</div>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>

<p-dialog header="Updates completed" [visible]="displayProcessCompleted" [modal]="true" [style]="{width: '50vw'}" [responsive]="true" [maximizable]="false">
  <span>{{msgDisplayed}}</span>
      <p-footer>
          <button style="float: right; margin-bottom:0.5em" 
                  type="button" pButton icon="fas fa-check" iconPos="right" (click)="displayProcessCompleted=false" 
                  label="Ok">
          </button>
      </p-footer>
</p-dialog>

<!-- Add new vendor -->
<p-dialog header="New store ASN vendor" [visible]="displayNewVendor" [modal]="true" [style]="{width: '50vw'}" [responsive]="true" [maximizable]="false">
    
  <form [formGroup]="newVendorForm" (ngSubmit)="newVendorASN()">
      <div class="row">
          <div class="col-12 form-group">
              <span class="p-inputgroup-addon" style="display: list-item;">
                  Vendor code
              <input type="text"  [(ngModel)]="newVendorCode" placeholder="  Enter your vendor code" 
                     formControlName="newVendor_field"
                    style="width: 55%;margin-left: 10px;"/> 
              </span>
          </div>
          <span style="color:red; font-weight: bold;">{{displayError}}</span>
      </div>
      <p-footer style="margin-top:2em">
          <button  style="float: right; margin-bottom:0.5em; margin-top:1em" 
                  pButton icon="fas fa-check" iconPos="right"
                  [disabled]="!newVendorForm.valid"
                  type="submit"
                  (click)="displayNewVendor=true; addNewVendor(newVendorCode)"
                  label="Ok">
          </button>
          <button style="float: right; margin-bottom:0.5em; margin-top:1em" 
                  type="button" pButton icon="fas fa-times" iconPos="right" (click)="displayNewVendor=false" 
                  label="Cancel">
          </button>
      </p-footer>
  </form>
</p-dialog>

<div>
  <div class="alert alert-warning"
    style="width: 100%; float: left; font-size: small; border: black 1px solid;">
    <i class="fas fa-exclamation-circle"></i>
    <span style="margin-left: 1em;"> Use this functionnality in alignment with in-store DSD receiver communication. The action will stop or start the
      store Advanced Shipment Note, EDI invoices are pre-loaded in stores DSD receivers handhelds.
    </span>
    <br>
    <br>
    <span style="margin-left: 2.2em; font-weight: bold;"> Make sure stores associates are aware about the ASN activation.
    </span>
  </div>
</div>


<!-- Search Panel -->
<div class="bbs_search_panel"  >
  <span style="margin-right:2.2em; padding-left: 15px; font-weight: bolder">Supplier : </span>
  <span style="overflow: hidden;width: 30%;line-height: 25px;align-self: center;">
      <input type="text"  [(ngModel)]="searchCode" placeholder="  Enter your vendor code" 
             style="width: 90%;margin-left: 10px;"/>     
  </span>

  <span style="font-weight: bolder">Store : </span>
  <span style="overflow: hidden;width: 45%;line-height: 25px;align-self: center;">
    <input type="number"  [(ngModel)]="searchStoreCode" placeholder="  Enter a code or a network" 
           style="width: 30%;margin-left: 10px;"/>     
  </span>

  <span class="pull-right" style="padding-right: 20px">
      <button type="submit" pButton (click)="search()" icon="fas fa-search" label="SEARCH" 
              [style]="{'height': '35px'}"
              style="margin-right: 15px"></button>
      <button type="submit" pButton (click)="search()" icon="fas fa-sync-alt" 
              [style]="{'height': '35px'}"[disabled]="true"></button>
  </span>
</div>



<p></p>

<p-dialog header="Schedule generated" [visible]="displayUpdateCompleted" [modal]="true" [style]="{width: '50vw'}" [responsive]="true" [maximizable]="false">
  <span>{{msgDisplayed}}</span>
      <p-footer>
          <button style="float: right; margin-bottom:0.5em" 
                  type="button" pButton icon="fas fa-check" iconPos="right" (click)="displayUpdateCompleted=false" 
                  label="Ok">
          </button>
      </p-footer>
</p-dialog>

<!-- Panel resul -->
<!-- Result panel of the resarch --> 
<!-- If more than one element retrieved elde assumed element selected  *ngIf="searchResult.length > 1" -->
<div  table-layout="fixed" *ngIf="searchResult !== null">

      <p-table #result [value]="searchResult" sortMode="multiple" 
              [rows]="5"  [rowsPerPageOptions]="[5,10,50]"
              [paginator]="true" [pageLinks]="3" 
              [columns]="columnsResult"
              selectionMode="single" [(selection)]="selectedElement" 
              [resizableColumns]="true" columnResizeMode="expand"
              [responsive]="true" [totalRecords]="searchResult.length"
              [reorderableColumns]="true" scrollHeight="400px"
              (onRowSelect)="onRowSelect($event)"
              [globalFilterFields]="['sippliercode', 'supplierdescription']"
              [autoLayout]="true" tableStyleClass="table-layout: auto;">
      
      <!-- FILTER -->
      <ng-template pTemplate="caption">
        <div class="table-header grid">
            <div class="col-6">
                <span>
                    <button type="button" pButton icon="fas fa-file" iconPos="left" 
                        class="CSV_Button p-input-icon-left ml-auto"
                        pTooltip="Export to EXCEL" [escape]="false"
                        *ngIf="searchResult.length>0"
                        label="CSV" (click)="result.exportCSV()" style="float:left">
                    </button>
                    <button type="button" pButton icon="fas fa-file" iconPos="left" 
                        class="CSV_Button p-input-icon-left ml-auto"
                        pTooltip="Export to EXCEL" [escape]="false"
                        disabled *ngIf="searchResult.length==0"
                        label="CSV" (click)="result.exportCSV()" style="float:left">
                    </button>
                    <button type="button" pButton iconPos="left" 
                        class="CSV_Button p-input-icon-left ml-auto"
                        pTooltip="select all" [escape]="false" tooltipPosition="bottom"
                        label="Select all" (click)="selectAll()" style="float:left">
                    </button>
                    <button type="button" pButton iconPos="left" 
                        class="CSV_Button p-input-icon-left ml-auto"
                        pTooltip="Unselect all" [escape]="false" tooltipPosition="bottom"
                        label="Unselect all" (click)="unselectAll()" style="float:left">
                    </button>
                    <button type="button" pButton iconPos="left" 
                        class="CSV_Button p-input-icon-left ml-auto"
                        pTooltip="Enable new vendor ASN" [escape]="false" tooltipPosition="top"
                        label="+" (click)="newVendorCode=null; displayNewVendor=true" style="float:left">
                    </button>
                    <button type="button" pButton iconPos="left" 
                        class="CSV_Button p-input-icon-left ml-auto"
                        pTooltip="Activate Store ASN" [escape]="false" tooltipPosition="top"
                        label="Set active"  (click)="updateStatus(1)" style="float:left">
                    </button>
                    <button type="button" pButton iconPos="left" 
                        class="CSV_Button p-input-icon-left ml-auto"
                        pTooltip="Deactivate Store ASN" [escape]="false" tooltipPosition="top"
                        label="Deactivate"  (click)="updateStatus(0)" style="float:left">
                    </button>
                </span>
            </div>
            <div class="col-6" style="text-align: right;">
                <span class="p-input-icon-right">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="result.filterGlobal($any($event.target).value, 'contains')" placeholder="Type text to filter..." />
                </span>
            </div>
        </div>
    </ng-template>
      <!-- HEADER -->
          <ng-template pTemplate="header">            
              <tr>
                <ng-container *ngFor="let col of columnsResult">
                    <th *ngIf="col.display" [pSortableColumn]="col.field" pReorderableColumn pResizableColumn [style.justify-content]="col.align"  [style.text-align]="col.align">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </ng-container>
              </tr>
          </ng-template>
      <!-- BODY -->
          <ng-template pTemplate="body" let-rowData let-columns="columnsResult">
              <tr [pSelectableRow]="rowData">
                <ng-container *ngFor="let col of columnsResult; let indice=index" class="ui-resizable-column"  >
                  <td class="ui-resizable-column" [style.justify-content]="col.align" [style.text-align]="col.align">
                      <span *ngIf="col.field==='X'" pTooltip="{{col.tooltip}}" tooltipPosition="top" [escape]="false">
                        <input type="checkbox" [(ngModel)]="rowData[col.field]" [ngModelOptions]="{standalone: true}"/>
                      </span>
                      <span *ngIf="col.field==='ASNENABLE'" [style.text-align]="col.align">
                        <input type="checkbox" [(ngModel)]="rowData[col.field]" [ngModelOptions]="{standalone: true}"/>
                      </span>
                      <span *ngIf="col.field!='ASNENABLE' && col.field!='X'" [style.text-align]="col.align">
                          {{rowData[col.field]}}
                      </span>
                  </td>
                </ng-container>
              </tr>
          </ng-template>
      </p-table>
      <i class="FOOTER_Table" >{{searchResult.length}} references</i>
</div>
<br>
<p style='border-style: solid; border: black'></p>
<div style="text-align:center" >
    <button  type="button" pButton icon="fas fa-dot-circle"  label="Validate" (click)="validateChanges()" ></button>
</div>
<br>