<app-page-header [heading]="'Ecommerce picture'" [icon]="'fa-camera'"
                 [waitMessage]="waitMessage" [okExit]="okExit" [screenID]="screenID"></app-page-header>

<br>
<div class="content-section implementation">
    <p-toast [style]="{marginTop: '80px'}" position="top-right" sticky="false"></p-toast>
</div>

<div>
    <div class="alert alert-warning"
      style="width: 100%; float: left; font-size: small; border: black 1px solid;">
      <i class="fas fa-exclamation-circle"></i>
      <span style="margin-left: 1em;"> Use this functionnality to readjust E-commerce pictures for Space Planning. E-commerce pictures must be named with the item/commodidty number. A look up to retrieve the main active UPC is performed to renamed the final picture file. 
      </span>
      <br>
      <br>
      <span style="margin-left: 2.2em; font-weight: bold;"> Input: e-commerce file example - </span>109420.png
      <br>
      <span style="margin-left: 2.2em; font-weight: bold;"> Ouput: Space planning picture - </span>020601408173_1.png (_1 for front pictures)
      <button class="btn btn-secondary topmenubutton"  type="text" 
            (click)="setting()" pTooltip="Settings" tooltipPosition="top" >
            <span class="fa fa-bars"></span>
      </button>
    </div>
</div>

<p-dialog *ngIf="displaySettingOption" [(visible)]="displaySetting" header="Syndigo account information" width="100%">
  <div class="formgrid grid">
    <div class="field col-6 ">
        <label class="font-bold" for="picturesize">Picture size (defaulted to 300 pixels)</label>
        <input id="picturesize" pInputText type="number" value="{{maxSize}}" class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
  </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displaySetting = false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<br>
<p-fileUpload   #uploader 
                [files]="externalFiles"
                [multiple]="true" 
                accept="image/*" 
                [showUploadButton]="true"
                [showCancelButton]="false" 
                [customUpload]="true"
                uploadLabel="Convert to Space Planning"
                (onSelect)="onSelectImage($event.files)" 
                (uploadHandler)="onUpload($event)"
                (onRemove)="onRemoveImage($event)">
</p-fileUpload>