
:host ::ng-deep .p-toolbar {
    padding: 0.3em !important;
    padding-right: 3em;
}

:host ::ng-deep .p-dropdown {
    background: transparent;
}

:host ::ng-deep .p-dropdown .p-dropdown-label {
    font-weight: 800;
    color: white;
}

.toolbar {
    padding:0.2em !important; 
    border-radius: 3rem;
    background-image: linear-gradient(to right, var(--gray-500), var(--gray-800));
}

.separator {
    border-left: 0.5px solid white;
    height: 100%;
    position: absolute;
    margin-left: -1em;
}

:host ::ng-deep p-dropdown:disabled {
    font-weight: 800;
    color: white;
}