<app-page-header [heading]="'Order Urgency'" [icon]="'fa-sun'"
                 [waitMessage]="waitMessage" [okExit]="okExit" [screenID]="screenID"></app-page-header>
                 
<div class="content-section implementation" style="padding: 5px;">
    <p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
</div>


<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>


<!-- Search Panel -->
<div class="bbs_search_panel"  >
    <span style="margin-right:2.2em; padding-left: 15px; font-weight: bolder; margin-top: 5px; ">Supplier : </span>
    <span style="overflow: hidden;width: 28%;line-height: 25px;align-self: center;">
        <input type="text"  [(ngModel)]="searchCode" placeholder="  Enter a supplier code" 
               style="width: 90%;margin-left: 10px;"/>     
    </span>

    <span style="font-weight: bolder; margin-top: 5px; padding-left: 15px;padding-right: 15px;">Not urgent only : </span>
    <p-checkbox [(ngModel)]="notUrgentOnly" [binary]="true"></p-checkbox>

    <span style="font-weight: bolder; margin-top: 5px; padding-left: 15px;padding-right: 15px;">Store only : </span>
    <p-checkbox [(ngModel)]="storeOnly" [binary]="true"></p-checkbox>
    
    <span class="pull-right" style="padding-right: 20px">
        <button type="submit" pButton (click)="search()" icon="fas fa-search" label="SEARCH" 
                [style]="{'height': '35px'}"
                style="margin-right: 15px"></button>
        <button type="submit" pButton (click)="search()" icon="fas fa-sync-alt" 
                [style]="{'height': '35px'}"[disabled]="true"></button>
    </span>
</div>
<div class="bbs_search_sub_panel"  >
        <span style="margin-right:2.2em; padding-left: 15px; font-weight: bolder">Status : </span>
        <bbs-multiselect [options]="listOrderStatus" 
                        (shareCheckedList)="shareCheckedList($any($event))" 
                        (shareCheckedCodeList)="shareCheckedCodeList($any($event))" 
                        (shareIndividualCheckedList)="shareIndividualCheckedList($event)">
        </bbs-multiselect>

        <span style="margin-left:1em; margin-right:1.3em; padding-left: 5px; font-weight: bolder">Period start : </span>
        <p-calendar [(ngModel)]="periodStart"  
                    [readonlyInput]="true"
                    dateFormat="mm/dd/yy"
                    [style]="{'height': '35px'}"
                    name="scheduleStart" [showIcon]="true" 
                    [showOnFocus]="true" [showOtherMonths]="true"></p-calendar>

        <span style="margin-left:1em; padding-left: 5px; font-weight: bolder">Period end : </span>
        <p-calendar [(ngModel)]="periodEnd"  
                    [readonlyInput]="true"
                    dateFormat="mm/dd/yy"
                    [style]="{'height': '35px'}"
                    name="scheduleEnd" [showIcon]="true" 
                    [showOnFocus]="true" [showOtherMonths]="true" ></p-calendar>
</div>
<div class="bbs_search_sub_panel"  >
        <span style="margin-right:2.2em; padding-left: 15px; font-weight: bolder; margin-top: 5px; ">PO/Parent/Child # : </span>
        <span style="overflow: hidden;line-height: 25px;align-self: center;">
            <input type="text"  [(ngModel)]="searchPO" placeholder="  Enter a PO number" 
                    style="width: 30%;margin-left: 10px;"/>     
        </span>
</div>
<p></p>

<p-dialog header="Update completed" [visible]="displayUpdateCompleted" [modal]="true" [style]="{width: '50vw'}" [responsive]="true" [maximizable]="false">
    <span>{{msgDisplayed}}</span>
        <p-footer>
            <button style="float: right; margin-bottom:0.5em" 
                    type="button" pButton icon="fas fa-check" iconPos="right" (click)="displayUpdateCompleted=false" 
                    label="Ok">
            </button>
        </p-footer>
</p-dialog>

<p-dialog header="PO send completed" [visible]="displaySendCompleted" [modal]="true" [style]="{width: '50vw'}" [responsive]="true" [maximizable]="false">
    <span>{{msgDisplayed}}</span>
        <p-footer>
            <button style="float: right; margin-bottom:0.5em" 
                    type="button" pButton icon="fas fa-check" iconPos="right" (click)="displaySendCompleted=false; okExit=false" 
                    label="Ok">
            </button>
        </p-footer>
</p-dialog>

<p-dialog header="Set delivery date and time" [visible]="displayChangeDeliveryDate" [modal]="true" [style]="{width: '50vw'}" [responsive]="true" [maximizable]="false">
    
    <form [formGroup]="deliveryDateForm" (ngSubmit)="updateDeliveryDate()">
        <div class="row">
            <div class="col-6 form-group">
                <span class="p-inputgroup-addon">
                    Delivery date
                    <p-calendar [(ngModel)]="newDeliveryDate"  
                            class="form-control"
                            dateFormat="mm/dd/yy"
                            [style]="{'height': '35px', 'padding-left' : '5px'}"
                            [showIcon]="true" 
                            appendTo="body" 
                            formControlName="deliveryDate_field"
                            [showOnFocus]="true" [showOtherMonths]="true" ></p-calendar>
                </span>
            </div>
            <div class="col-6 form-group">
                <span class="p-inputgroup-addon">
                    Delivery time
                    <i class="pi pi-clock" style="padding-left: 5px; padding-right:10px" ></i>
                    <input  type="text" style="text-align: center; width: 20%; padding-left: 5px" 
                            pTooltip="Delivery time respect format HHMM (24 hours)." [escape]="false"
                            tooltipPosition="top"
                            [(ngModel)]="newDeliveryTime"
                            pattern="[0-9]{4}" max="2359" 
                            id="deliveryTime_field" formControlName="deliveryTime_field"
                            class="form-control"
                            title="Delivery time respect format HHMM (24 hours)."/>
                </span>
            </div> 
        </div>
        <p-footer>
            <button  style="float: right; margin-bottom:0.5em" 
                    pButton icon="fas fa-check" iconPos="right"
                    [disabled]="!deliveryDateForm.valid"
                    type="submit"
                    label="Ok">
            </button>
            <button style="float: right; margin-bottom:0.5em" 
                    type="button" pButton icon="fas fa-times" iconPos="right" (click)="displayChangeDeliveryDate=false" 
                    label="Cancel">
            </button>
        </p-footer>
    </form>
</p-dialog>

<p-dialog header="Set sending date and time" [visible]="displayChangeSendingDate" [modal]="true" [style]="{width: '50vw'}" [responsive]="true" [maximizable]="false">
    
    <form [formGroup]="sendingDateForm" (ngSubmit)="updateSendingDate()">
        <div class="row">
            <div class="col-6 form-group">
                <span class="p-inputgroup-addon">
                    Sending date
                    <p-calendar [(ngModel)]="newSendingDate"  
                            class="form-control"
                            dateFormat="mm/dd/yy"
                            [style]="{'height': '35px', 'padding-left' : '5px'}"
                            [showIcon]="true" 
                            appendTo="body" 
                            formControlName="sendingDate_field"
                            [showOnFocus]="true" [showOtherMonths]="true" ></p-calendar>
                </span>
            </div>
            <div class="col-6 form-group">
                <span class="p-inputgroup-addon">
                    Sending time
                    <i class="pi pi-clock" style="padding-left: 5px; padding-right:10px" ></i>
                    <input  type="text" style="text-align: center; width: 20%; padding-left: 5px" 
                            pTooltip="Sending time respect format HHMM (24 hours)." [escape]="false"
                            tooltipPosition="top"
                            [(ngModel)]="newSendingTime"
                            pattern="[0-9]{4}" max="2359" 
                            id="sendingTime_field" formControlName="sendingTime_field"
                            class="form-control"
                            title="Sending time respect format HHMM (24 hours)."/>
                </span>
            </div> 
        </div>
        <p-footer>
            <button  style="float: right; margin-bottom:0.5em" 
                    pButton icon="fas fa-check" iconPos="right"
                    [disabled]="!sendingDateForm.valid"
                    type="submit"
                    label="Ok">
            </button>
            <button style="float: right; margin-bottom:0.5em" 
                    type="button" pButton icon="fas fa-check" iconPos="right" (click)="displayChangeSendingDate=false" 
                    label="Cancel">
            </button>
        </p-footer>
    </form>
</p-dialog>
<!-- Panel resul -->
<!-- Result panel of the resarch --> 
<!-- If more than one element retrieved elde assumed element selected  *ngIf="searchResult.length > 1" -->
<div  item-width="400px" table-layout="fixed" *ngIf="searchResult !== null">

        <p-table #result [value]="searchResult" sortMode="multiple" 
        [rows]="25"  [rowsPerPageOptions]="[25,50,75]"
        [paginator]="true" [pageLinks]="3" 
        [columns]="columnsResult"
        [scrollable]="true"
        selectionMode="single" [(selection)]="selectedElement" 
        [resizableColumns]="true" columnResizeMode="expand"
        [responsive]="true" [totalRecords]="searchResult.length"
        [reorderableColumns]="true" scrollHeight="400px"
        (onRowSelect)="onRowSelect($event)"
        [autoLayout]="true" tableStyleClass="table-layout: auto;">
        
       
        <!-- FILTER -->
        <ng-template pTemplate="caption">
            <div class="table-header grid">
                <div class="col-8">
                    <span>
                        <button type="button" pButton icon="fas fa-file" iconPos="left" 
                            class="CSV_Button p-input-icon-left ml-auto"
                            pTooltip="Export to EXCEL" [escape]="false"
                            *ngIf="searchResult.length>0"
                            label="CSV" (click)="result.exportCSV()" style="float:left">
                        </button>
                        <button type="button" pButton icon="fas fa-file" iconPos="left" 
                            class="CSV_Button p-input-icon-left ml-auto"
                            pTooltip="Export to EXCEL" [escape]="false"
                            disabled *ngIf="searchResult.length==0"
                            label="CSV" (click)="result.exportCSV()" style="float:left">
                        </button>
                        <button type="button" pButton iconPos="left" 
                            class="CSV_Button p-input-icon-left ml-auto"
                            pTooltip="Unselect all" [escape]="false" tooltipPosition="bottom"
                            label="Unselect all" (click)="unselectAll()" style="float:left">
                        </button>
                        <button type="button" pButton iconPos="left" 
                            class="CSV_Button p-input-icon-left ml-auto"
                            pTooltip="Flag all as urgent" [escape]="false" tooltipPosition="top"
                            label="Set urgent" (click)="setSelectionAsUgent()" style="float:left">
                        </button>
                        <button type="button" pButton iconPos="left" 
                            class="CSV_Button p-input-icon-left ml-auto"
                            pTooltip="Change delivery date" [escape]="false" tooltipPosition="bottom"
                            label="Change delivery date" (click)="changeDeliveryDate()" style="float:left">
                        </button>
                        <button type="button" pButton iconPos="left" 
                            class="CSV_Button p-input-icon-left ml-auto"
                            pTooltip="Change sending date" [escape]="false" tooltipPosition="top"
                            label="Change collection date" (click)="changeSendingDate()" style="float:left">
                        </button>

                        <button type="button" pButton iconPos="left" 
                            class="CSV_Button p-input-icon-left ml-auto"
                            pTooltip="Clear orders" [escape]="false" tooltipPosition="top"
                            label="Clear order" (click)="clearOrder()" style="float:right">
                        </button>
                        <button type="button" pButton iconPos="left" 
                            class="CSV_Button p-input-icon-left ml-auto"
                            pTooltip="Send valued status PO with passed collection date/time" [escape]="false" tooltipPosition="top"
                            label="Send to Awaiting delivery" (click)="sendPO()" style="float: right;background: darkcyan;color: white !important;">
                        </button>
                    </span>
                </div>
                <div class="col-4" style="text-align: right;">
                    <span class="p-input-icon-right">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="result.filterGlobal($any($event.target).value, 'contains')" placeholder="Type text to filter..." />
                    </span>
                </div>
            </div>
        </ng-template>
        <!-- HEADER -->
            <ng-template pTemplate="header"> 
                <tr style="background: lightyellow;">
                    <ng-container *ngFor="let col of columnsResult">
                        <th *ngIf="col.display" [pSortableColumn]="col.field" pReorderableColumn pResizableColumn [style.justify-content]="col.align">
                                {{col.header}}
                        <p-columnFilter type="text" [field]="col.field" display="menu"></p-columnFilter>
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                    </ng-container>
                </tr>
            </ng-template>
        <!-- BODY -->
            <ng-template pTemplate="body" let-rowData let-columns="columnsResult">
                <tr [pSelectableRow]="rowData" [style.background-color]="(rowData['Selected']) ? 'lightyellow' : 'unset'">
                    <ng-container *ngFor="let col of columnsResult; let indice=index" class="ui-resizable-column"  >
                        <td *ngIf="col.display " class="ui-resizable-column" [style.justify-content]="col.align" >
                            <span *ngIf="col.field==='X'" pTooltip="{{col.tooltip}}" tooltipPosition="top" [escape]="false">
                                <p-checkbox [(ngModel)]="rowData['Selected']" [binary]="true"></p-checkbox>
                            </span>
                            <span *ngIf="col.field==='Urgent'" pTooltip="{{col.tooltip}}" tooltipPosition="top" [escape]="false">
                                <p-checkbox [(ngModel)]="rowData['Urgent enable']" [binary]="true"></p-checkbox>
                            </span>
                            <span *ngIf="col.field!='X' && col.field!='Urgent'" pTooltip="{{col.tooltip}}" tooltipPosition="top" [escape]="false">
                                {{rowData[col.field]}}
                            </span>
                        </td>
                    </ng-container>
                </tr>
            </ng-template>
        </p-table>
        <i class="FOOTER_Table" >{{searchResult.length}} references</i>
</div>
<!-- List of Schedules -->
<br>
<!--div *ngIf="!selectedElement" style="text-align:center">
    <button  disabled type="button" pButton icon="fa-file-o"  label="Review schedules" (click)="reviewSchedule()"></button>
</div-->

<br>
<!-- Validation -->
<p></p>
<p style='border-style: solid; border: black'></p>
<div style="text-align:center" >
    <button  type="button" pButton icon="fas fa-dot-circle"  label="Validate" (click)="validateChanges()" ></button>
</div>
<br>
