<app-page-header [heading]="'Syndigo collect images'" [icon]="'fa-camera'"
                 [waitMessage]="waitMessage" [okExit]="okExit" [screenID]="screenID">
</app-page-header>

<br>
<div class="content-section implementation">
    <p-toast [style]="{marginTop: '80px'}" position="top-right" sticky="false"></p-toast>
</div>
<br>

<div style="width: 100%; ">
    <span style="padding-left: 2em;">
        <img itemprop="image" src="https://selfservice.syndigo.com/images/marketing/syn_tag_full_pos_color_rgb.svg" width="20%" alt="logo syndigo">
        <button class="btn btn-secondary topmenubutton"  type="text"  style="margin-right:4em"
                (click)="setting()" pTooltip="Settings" tooltipPosition="top" >
                <span class="fa fa-bars"></span>
        </button>
    </span>
</div>

<p-dialog *ngIf="displaySettingOption" [(visible)]="displaySetting" header="Syndigo account information" width="100%">
    <div class="formgrid grid">
        <div class="field col-6 ">
            <label class="font-bold" for="envid">Environment</label>
            <input id="envid" pInputText type="text" disabled value="{{_syndigoService.syndigoEnv[0].SYNURL}}" class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-6 ">
            <label class="font-bold" for="assets">Assets</label>
            <input id="assets" pInputText type="text" disabled value="{{_syndigoService.syndigoEnv[0].SYNASSETS}}" class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-6">
            <label class="font-bold" for="usernameSyndigo">Username</label>
            <input id="usernameSyndigo" pInputText type="text" disabled value="{{_syndigoService.syndigoEnv[0].SYNUSER}}" rows="4" class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-6">
            <label class="font-bold" for="passSyndigo">Secret</label>
            <textarea id="passSyndigo" pInputTextarea disabled value="{{_syndigoService.syndigoEnv[0].SYNSECRET}}" type="text" rows="4" class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">

            </textarea>
        </div>
        <div class="field col-6 ">
            <label class="font-bold" for="companyid">CompanyId</label>
            <input id="companyid" pInputText disabled value="{{_syndigoService.syndigoEnv[0].SYNCOMPANYID}}" type="text" class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-6 ">
            <label class="font-bold" for="vocabularyid">VocabularyId</label>
            <input id="vocabularyid" pInputText disabled value="{{_syndigoService.syndigoEnv[0].SYNVOCID}}" type="text" class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-4 ">
            <label class="font-bold" for="sizeid">Picture size</label>
            <p-inputNumber  id="sizeid"   [(ngModel)]="_syndigoService.sizeImage"  class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </p-inputNumber>
        </div>
        <div class="field col-4 ">
            <label class="font-bold" for="skipid">Skip</label>
            <p-inputNumber  id="skipid"   [(ngModel)]="skip" class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </p-inputNumber>
        </div>
        <div class="field col-4 ">
            <label class="font-bold" for="takeid">Additonnal take</label>
            <p-inputNumber  id="takeid"   [(ngModel)]="take" class="text-base text-color surface-overlay p-2 border-3 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </p-inputNumber>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displaySetting = false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<p-tabView>
    <p-tabPanel header="Category lookup" >
        <div id="wrapper" class="center" style="text-align: center; margin-top: 5em;">
            <div style="width:70%; display: inline-block; text-align: left; box-shadow:1px 1px 1px 2px darkgrey" ui-grid-responsive ui-fluid ui-grid-pad>
                <p-chips [(ngModel)]="values" pTooltip="Enter the merchandise hierarchy code or UPC list" tooltipPosition="right"
                         (keydown)="onKeyDown($event)"
                         (paste)="onPaste($event)">
                </p-chips>
            </div>
            <button *ngIf="searchResult.length > 0" style="left:2em" type="text" pButton (click)="saveJson()" label="JSON" pTooltip="Save Syndigo" tooltipPosition="top" >
            </button>
        </div>
        <br>
        <div class="row" style="text-align: center;" >
            <div class="col-8" style="padding-left: 30em">
                <button type="text" pButton (click)="search()" label="search" [disabled]="!searchButtonEnable"></button>
            </div>
            <div class="col-4">
                <p-checkbox style="vertical-align: middle;float: right;margin-right: 15em;" 
                            [(ngModel)]="upcAlso" [binary]="true"></p-checkbox>
                <span style="margin-right: 1em;float:right">has UPC ? </span>
                <p></p>
                <p-checkbox style="vertical-align: middle;float: right;margin-right: 15em;" 
                            [(ngModel)]="collectPicture" [binary]="true"></p-checkbox>
                <span style="margin-right: 1em;float:right">Picture download </span>
                <p></p>
            </div>
        </div>




<!--  panel result -->
<div  item-width="400px" table-layout="fixed" *ngIf="searchResult.length>0">
    <p-table #result [value]="searchResult" sortMode="multiple" 
    [rows]="100"  [rowsPerPageOptions]="[100,200,300]"
    [paginator]="true" [pageLinks]="3" 
    [columns]="columnsResult"
    selectionMode="single" [(selection)]="selectedElement" 
    [resizableColumns]="true" columnResizeMode="fit"
    [responsive]="true" [totalRecords]="searchResult.length"
    [reorderableColumns]="true" scrollHeight="400px"
    [autoLayout]="true" tableStyleClass="table-layout: auto;">
    
        <!-- FILTER -->
        <ng-template pTemplate="caption">
            <div class="table-header grid">
                <div class="col-3">
                            <button type="button" pButton icon="pi pi-user" iconPos="left" 
                                class="CSV_Button p-input-icon-left ml-auto"
                                pTooltip="{{recapButtonTooltip}}" [escape]="false"
                                disabled *ngIf="searchResult.length==0"
                                label="Recap" (click)="exportExcelRecap()" style="float:left">
                            </button>
                            <button type="button" pButton icon="pi pi-user" iconPos="left" 
                                class="CSV_Button p-input-icon-left ml-auto"
                                pTooltip="{{recapButtonTooltip}}" [escape]="false"
                                *ngIf="searchResult.length>0"
                                label="Recap" (click)="exportExcelRecap()" style="float:left">
                            </button>
                </div>
                <div class="col-9" style="text-align: right;">
                    <span class="p-input-icon-right">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="result.filterGlobal($any($event.target).value, 'contains')" placeholder="Type text to filter..." />
                    </span>
                </div>
            </div>
        </ng-template>
        <!-- HEADER -->
        <ng-template pTemplate="header">
            <tr style="background: lightyellow;">
                <ng-container *ngFor="let col of columnsResult">
                    <th *ngIf="col.display" [pSortableColumn]="col.field" pReorderableColumn pResizableColumn [style.justify-content]="col.align">
                            {{col.header}}
                    <p-columnFilter type="text" [field]="col.field" display="menu"></p-columnFilter>
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </ng-container>
            </tr>

            <ng-template pTemplate="caption">
                <div class="table-header">
                    <div class="pull-right p-input-icon-right FILTER_Right_Table">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="result.filterGlobal($any($event.target).value, 'contains')" placeholder="Global Search" />
                        </span>
                    </div>
                    <div >
                        <button type="button" pButton icon="fas fa-file" iconPos="left" 
                                class="CSV_Button p-input-icon-left ml-auto"
                                label="CSV" (click)="result.exportCSV()" style="float:left"></button>
                    </div>
                </div>
            </ng-template>
        </ng-template>
            
        <!-- BODY -->
        <ng-template pTemplate="body" let-rowData let-columns="columnsResult" let-globalIndice="rowIndex">
            <tr [pSelectableRow]="rowData">
                <ng-container *ngFor="let col of columnsResult; let indice=index" class="ui-resizable-column"  >
                    <td *ngIf="col.display " class="ui-resizable-column" [style.justify-content]="col.align" >
                        <span *ngIf="col.field==='statusSyndigo' && rowData['Status']==0">
                            <p-badge [value]="rowData[col.field]" severity="danger"></p-badge>
                        </span>  
                        <span *ngIf="col.field==='statusSyndigo' && rowData['Status']==1">
                            <p-badge [value]="rowData[col.field]" severity="success"></p-badge>
                        </span>  
                        <span *ngIf="col.field==='statusSyndigo' && rowData['Status']==2">
                            <p-badge [value]="rowData[col.field]" severity="warning"></p-badge>
                        </span>  
                                  
                        <span *ngIf="!col.format" pTooltip="{{col.tooltip}}" [escape]="false">{{rowData[col.field]}}</span>
                        
                    </td>
                </ng-container>
            </tr> 
        </ng-template>
    </p-table>
    <i class="FOOTER_Table" >{{searchResult.length}} references</i>
</div>
    </p-tabPanel>
</p-tabView>
