
.p-datatable .p-datatable-header {
  padding-bottom: 1em;
}

.p-dialog-draggable .p-dialog-header {
  height: 20px;
}

.p-panel.p-panel-toggleable .p-panel-header {
  background-color: steelblue !important;
}
