<app-page-header [heading]="'Generate schedule by calendar'" [icon]="'pi pi-slack'"
                 [waitMessage]="waitMessage" [screenID]="screenID"></app-page-header>
                 
<div class="content-section implementation" style="padding: 5px;">
    <p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
</div>


<!-- Search Panel -->
<div class="bbs_search_panel"  >
    <span style="margin-right:2.2em; padding-left: 15px; font-weight: bolder">Supplier : </span>
    <span style="overflow: hidden; padding-right: .5em; width: 70%; line-height: 25px; align-self: center;">
        <input type="text"  [(ngModel)]="searchCode" placeholder="  Enter a code or a description" 
               style="width: 50%;margin-left: 10px;"/>     
    </span>

    <span class="pull-right" style="padding-right: 20px">
        <button type="submit" pButton (click)="search()" icon="fas fa-search" label="SEARCH" 
                [disabled]="searchCode === ''" 
                [style]="{'height': '35px'}"
                style="margin-right: 15px"></button>
        <button type="submit" pButton (click)="search()" icon="fas fa-sync-alt" 
                [style]="{'height': '35px'}"[disabled]="true"></button>
    </span>
</div>

<p></p>

<p-dialog header="Schedule generated" [visible]="displayUpdateCompleted" [modal]="true" [style]="{width: '50vw'}" [responsive]="true" [maximizable]="false">
    <span>{{msgDisplayed}}</span>
        <p-footer>
            <button style="float: right; margin-bottom:0.5em" 
                    type="button" pButton icon="fas fa-check" iconPos="right" (click)="displayUpdateCompleted=false" 
                    label="Ok">
            </button>
        </p-footer>
</p-dialog>

<!-- Panel resul -->
<!-- Result panel of the resarch --> 
<!-- If more than one element retrieved elde assumed element selected  *ngIf="searchResult.length > 1" -->
<div  table-layout="fixed" *ngIf="searchResult !== null">

        <p-table #result [value]="searchResult" sortMode="multiple" 
                [rows]="5"  [rowsPerPageOptions]="[5,10,50]"
                [paginator]="true" [pageLinks]="3" 
                [columns]="columnsResult"
                selectionMode="single" [(selection)]="selectedElement" 
                [resizableColumns]="true" columnResizeMode="expand"
                [responsive]="true" [totalRecords]="searchResult.length"
                [reorderableColumns]="true" scrollHeight="400px"
                (onRowSelect)="onRowSelect($event)"
                [globalFilterFields]="['sippliercode', 'supplierdescription']"
                [autoLayout]="true" tableStyleClass="table-layout: auto;">
        
        <!-- FILTER -->
        <ng-template pTemplate="caption">
            <div class="table-header grid">
                <div class="col-3">
                    <span>
                        <button type="button" pButton icon="fas fa-file" iconPos="left" 
                            class="CSV_Button p-input-icon-left ml-auto"
                            label="CSV" (click)="result.exportCSV()" style="float:left">
                        </button>
                    </span>
                </div>
                <div class="col-9" style="text-align: right;">
                    <span class="p-input-icon-right">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="result.filterGlobal($any($event.target).value, 'contains')" placeholder="Type text to filter..." />
                    </span>
                </div>
            </div>
        </ng-template>
        <!-- HEADER -->
            <ng-template pTemplate="header">            
                <tr>
                    <th *ngFor="let col of columnsResult" [pSortableColumn]="col.field" pReorderableColumn pResizableColumn [style.justify-content]="col.align">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
        <!-- BODY -->
            <ng-template pTemplate="body" let-rowData let-columns="columnsResult">
                <tr [pSelectableRow]="rowData">
                    <td *ngFor="let col of columnsResult" class="ui-resizable-column" [style.justify-content]="col.align">
                        <span *ngIf="col.field==='Year1'"  pTooltip="{{col.tooltip}}" [escape]="false">
                            <button pButton type="button"  label="GENERATE" (click)="generateSchedule(currentYear, rowData['FOUCNUF'])" icon="fa fa-wrench" iconPos="left">
                            </button>
                        </span>

                        <span *ngIf="col.field==='Year2'"  pTooltip="{{col.tooltip}}" [escape]="false">
                            <button pButton type="button"  label="GENERATE"  (click)="generateSchedule(currentYear+1, rowData['FOUCNUF'])" icon="fa fa-wrench" iconPos="left">
                            </button>
                        </span>

                        <span *ngIf="col.field==='Year3'"  pTooltip="{{col.tooltip}}" tooltipPosition="top" [escape]="false">
                            <button pButton type="button" label="GENERATE" (click)="generateSchedule(currentYear+2, rowData['FOUCNUF'])" icon="fa fa-wrench"  iconPos="left">
                            </button>
                        </span>
                        <span *ngIf="col.field==='FOUCNUF' || col.field==='FOULIBL'" >
                            {{rowData[col.field]}}
                        </span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <i class="FOOTER_Table" >{{searchResult.length}} references</i>
</div>


<br>
